openapi: 3.2.0
info:
  title: AIMLAPI AI/ML API Documentation Threads > Messages API
  description: '=K Welcome to the AI/ML API docs! AI/ML API makes integrating state-of-the-art AI models into your applications effortless, offering seamless compatibility with OpenAI-like interfaces.


    **Features Include:**


    - **Inference**: Easily evaluate models for text, images, and more using our API.


    - **API Key Management**: Securely manage your API keys for controlled access.


    - **Broad Model Selection**: Access a diverse range of models for various AI tasks.


    See Quickstart'
  version: 1.0.0
servers:
- url: https://api.aimlapi.com
security:
- bearerAuth: []
tags:
- name: Threads > Messages
paths:
  /threads/{threadId}/messages:
    get:
      tags:
      - Threads > Messages
      summary: AIMLAPI Get Messages
      parameters:
      - name: limit
        in: query
        schema:
          type: string
        example: example_value
      - name: order
        in: query
        schema:
          type: string
        example: example_value
      - name: before
        in: query
        schema:
          type: string
        example: example_value
      - name: after
        in: query
        schema:
          type: string
        example: example_value
      - name: threadId
        in: path
        schema:
          type: string
        required: true
        example: '500123'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      operationId: getThreadsByThreadIdMessages
      x-operation-id-source: derived
    post:
      tags:
      - Threads > Messages
      summary: AIMLAPI Create Message
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                role: user
                content: Why the sky is blue?
                metadata: {}
      parameters:
      - name: threadId
        in: path
        schema:
          type: string
        required: true
        example: '500123'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      operationId: postThreadsByThreadIdMessages
      x-operation-id-source: derived
  /threads/{threadId}/messages/{messageId}:
    get:
      tags:
      - Threads > Messages
      summary: AIMLAPI Get Message
      parameters:
      - name: threadId
        in: path
        schema:
          type: string
        required: true
        example: '500123'
      - name: messageId
        in: path
        schema:
          type: string
        required: true
        example: '500123'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      operationId: getThreadsByThreadIdMessagesByMessageId
      x-operation-id-source: derived
    post:
      tags:
      - Threads > Messages
      summary: AIMLAPI Update Message
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                metadata: {}
      parameters:
      - name: threadId
        in: path
        schema:
          type: string
        required: true
        example: '500123'
      - name: messageId
        in: path
        schema:
          type: string
        required: true
        example: '500123'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      operationId: postThreadsByThreadIdMessagesByMessageId
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
