openapi: 3.2.0
info:
  title: AIML Responses API
  version: 1.0.0
servers:
- url: https://api.aimlapi.com
tags:
- name: Responses
paths:
  /v1/responses:
    post:
      operationId: _v1_responses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              anyOf:
              - type: object
                properties:
                  model:
                    type: string
                    enum:
                    - gpt-3.5-turbo
                    - openai/gpt-3.5-turbo
                    - gpt-3.5-turbo-0125
                    - openai/gpt-3.5-turbo-0125
                    - gpt-3.5-turbo-1106
                    - openai/gpt-3.5-turbo-1106
                    - gpt-4
                    - openai/gpt-4
                  input:
                    anyOf:
                    - type: string
                      description: A text input to the model, equivalent to a text input with the user role.
                    - type: array
                      items:
                        anyOf:
                        - type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - message
                              description: The type of the message input. Always message.
                            role:
                              type: string
                              enum:
                              - user
                              - assistant
                              - system
                              - developer
                              description: The role of the message input.
                            content:
                              anyOf:
                              - type: string
                                description: A text input to the model.
                              - type: array
                                items:
                                  oneOf:
                                  - type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                        - input_text
                                        description: The type of the input item. Always input_text.
                                      text:
                                        type: string
                                        description: The text input to the model.
                                    required:
                                    - type
                                    - text
                                    description: A text input to the model.
                                  - type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                        - input_file
                                        description: The type of the input item. Always input_file.
                                      file_data:
                                        type: string
                                        description: The content of the file to be sent to the model.
                                      filename:
                                        type: string
                                        description: The name of the file to be sent to the model.
                                    required:
                                    - type
                                description: A list of one or many input items to the model, containing different content types.
                              description: Text, image, or audio input to the model, used to generate a response. Can also contain previous assistant responses.
                          required:
                          - role
                          - content
                          description: A message input to the model with a role indicating instruction following hierarchy. Instructions given with the developer or system role take precedence over instructions given with the user role. Messages with the assistant role are presumed to have been generated by the model in previous interactions.
                        - type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - message
                              description: The type of the message input. Always message.
                            role:
                              type: string
                              enum:
                              - user
                              - system
                              - developer
                              description: The role of the message input.
                            status:
                              type: string
                              enum:
                              - in_progress
                              - completed
                              - incomplete
                              description: The status of item.
                            content:
                              type: array
                              items:
                                oneOf:
                                - type: object
                                  properties:
                                    type:
                                      type: string
                                      enum:
                                      - input_text
                                      description: The type of the input item. Always input_text.
                                    text:
                                      type: string
                                      description: The text input to the model.
                                  required:
                                  - type
                                  - text
                                  description: A text input to the model.
                                - type: object
                                  properties:
                                    type:
                                      type: string
                                      enum:
                                      - input_file
                                      description: The type of the input item. Always input_file.
                                    file_data:
                                      type: string
                                      description: The content of the file to be sent to the model.
                                    filename:
                                      type: string
                                      description: The name of the file to be sent to the model.
                                  required:
                                  - type
                              description: A list of one or many input items to the model, containing different content types.
                          required:
                          - role
                          - content
                          description: A message input to the model with a role indicating instruction following hierarchy. Instructions given with the developer or system role take precedence over instructions given with the user role.
                        - type: object
                          properties:
                            id:
                              type: string
                              description: The unique ID of the output message.
                            role:
                              type: string
                              enum:
                              - assistant
                              description: The role of the output message. Always assistant.
                            status:
                              type: string
                              enum:
                              - in_progress
                              - completed
                              - incomplete
                              description: The status of the message input.
                            type:
                              type: string
                              enum:
                              - message
                              description: The type of the output message. Always message.
                            content:
                              type: array
                              items:
                                oneOf:
                                - type: object
                                  properties:
                                    annotations:
                                      type: array
                                      items:
                                        oneOf:
                                        - type: object
                                          properties:
                                            end_index:
                                              type: integer
                                              description: The index of the last character of the URL citation in the message.
                                            start_index:
                                              type: integer
                                              description: The index of the first character of the URL citation in the message.
                                            title:
                                              type: string
                                              description: The title of the web resource.
                                            type:
                                              type: string
                                              enum:
                                              - url_citation
                                              description: The type of the URL citation. Always url_citation.
                                            url:
                                              type: string
                                              format: uri
                                              description: The URL of the web resource.
                                          required:
                                          - end_index
                                          - start_index
                                          - title
                                          - type
                                          - url
                                          description: A citation for a web resource used to generate a model response.
                                      description: The annotations of the text output.
                                    text:
                                      type: string
                                      description: The text output from the model.
                                    type:
                                      type: string
                                      enum:
                                      - output_text
                                      description: The type of the output text. Always output_text.
                                    logprobs:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          bytes:
                                            type: array
                                            items:
                                              type: integer
                                          logprob:
                                            type: number
                                          token:
                                            type: string
                                          top_logprobs:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                bytes:
                                                  type: array
                                                  items:
                                                    type: integer
                                                logprob:
                                                  type: number
                                                token:
                                                  type: string
                                              required:
                                              - bytes
                                              - logprob
                                              - token
                                        required:
                                        - bytes
                                        - logprob
                                        - token
                                        - top_logprobs
                                  required:
                                  - annotations
                                  - text
                                  - type
                                - type: object
                                  properties:
                                    refusal:
                                      type: string
                                      description: The refusal explanationfrom the model.
                                    type:
                                      type: string
                                      enum:
                                      - refusal
                                      description: The type of the refusal. Always refusal.
                                  required:
                                  - refusal
                                  - type
                                description: The content of the output message.
                          required:
                          - id
                          - role
                          - status
                          - type
                          - content
                          description: An output message from the model.
                        - type: object
                          properties:
                            arguments:
                              type: string
                              description: A JSON string of the arguments to pass to the function.
                            call_id:
                              type: string
                              description: The unique ID of the function tool call generated by the model.
                            name:
                              type: string
                              description: The name of the function to run.
                            type:
                              type: string
                              enum:
                              - function_call
                              description: The type of the function tool call. Always function_call.
                            id:
                              type: string
                              description: The unique ID of the function tool call.
                            status:
                              type: string
                              enum:
                              - in_progress
                              - completed
                              - incomplete
                              description: The status of the item.
                          required:
                          - arguments
                          - call_id
                          - name
                          - type
                          description: A tool call to run a function.
                        - type: object
                          properties:
                            call_id:
                              type: string
                              description: The unique ID of the function tool call generated by the model.
                            output:
                              type: string
                              description: A JSON string of the output of the function tool call.
                            type:
                              type: string
                              enum:
                              - function_call_output
                              description: The type of the function tool call output. Always function_call_output.
                            id:
                              type:
                              - string
                              - 'null'
                              description: The unique ID of the function tool call output. Populated when this item is returned via API.
                            status:
                              type:
                              - string
                              - 'null'
                              enum:
                              - in_progress
                              - completed
                              - incomplete
                              description: The status of the item.
                          required:
                          - call_id
                          - output
                          - type
                          description: The output of a function tool call.
                        - type: object
                          properties:
                            id:
                              type: string
                              description: The unique ID of the list.
                            server_label:
                              type: string
                              description: The label of the MCP server.
                            tools:
                              type: array
                              items:
                                type: object
                                properties:
                                  input_schema:
                                    type: object
                                    additionalProperties: {}
                                    description: The JSON schema describing the tool's input.
                                  name:
                                    type: string
                                    description: The name of the tool.
                                  annotations:
                                    type:
                                    - object
                                    - 'null'
                                    additionalProperties: {}
                                    description: Additional annotations about the tool.
                                  description:
                                    type:
                                    - string
                                    - 'null'
                                    description: The description of the tool.
                                required:
                                - input_schema
                                - name
                              description: The tools available on the server.
                            type:
                              type: string
                              enum:
                              - mcp_list_tools
                              description: The type of the item. Always mcp_list_tools.
                            error:
                              type:
                              - string
                              - 'null'
                              description: Error message if the server could not list tools.
                          required:
                          - id
                          - server_label
                          - tools
                          - type
                          description: A list of tools available on an MCP server.
                        - type: object
                          properties:
                            arguments:
                              type: string
                              description: A JSON string of arguments for the tool.
                            id:
                              type: string
                              description: The unique ID of the approval request.
                            name:
                              type: string
                            server_label:
                              type: string
                              description: The name of the tool to run.
                            type:
                              type: string
                              enum:
                              - mcp_approval_request
                              description: The type of the item. Always mcp_approval_request.
                          required:
                          - arguments
                          - id
                          - name
                          - server_label
                          - type
                          description: A request for human approval of a tool invocation.
                        - type: object
                          properties:
                            approval_request_id:
                              type: string
                              description: The ID of the approval request being answered.
                            approve:
                              type: boolean
                              description: Whether the request was approved.
                            type:
                              type: string
                              enum:
                              - mcp_approval_response
                              description: The type of the item. Always mcp_approval_response.
                            id:
                              type:
                              - string
                              - 'null'
                              description: The unique ID of the approval response.
                            reason:
                              type:
                              - string
                              - 'null'
                              description: Optional reason for the decision.
                          required:
                          - approval_request_id
                          - approve
                          - type
                          description: A response to an MCP approval request.
                        - type: object
                          properties:
                            arguments:
                              type: string
                              description: A JSON string of the arguments passed to the tool.
                            id:
                              type: string
                              description: The unique ID of the tool call.
                            name:
                              type: string
                              description: The name of the tool that was run.
                            server_label:
                              type: string
                              description: The label of the MCP server running the tool.
                            type:
                              type: string
                              enum:
                              - mcp_call
                              description: The type of the item. Always mcp_call.
                            error:
                              type:
                              - string
                              - 'null'
                              description: The error from the tool call, if any.
                            output:
                              type:
                              - string
                              - 'null'
                              description: The output from the tool call.
                          required:
                          - arguments
                          - id
                          - name
                          - server_label
                          - type
                          description: An invocation of a tool on an MCP server.
                        - type: object
                          properties:
                            id:
                              type: string
                              description: The ID of the item to reference.
                            type:
                              type:
                              - string
                              - 'null'
                              enum:
                              - item_reference
                              description: The type of item to reference. Always item_reference.
                          required:
                          - id
                          description: An internal identifier for an item to reference.
                    description: Text, image, or file inputs to the model, used to generate a response.
                  background:
                    type: boolean
                    default: false
                    description: Whether to run the model response in the background.
                  instructions:
                    type:
                    - string
                    - 'null'
                    description: 'A system (or developer) message inserted into the model''s context.


                      When using along with previous_response_id, the instructions from a previous response will not be carried over to the next response. This makes it simple to swap out system (or developer) messages in new responses.'
                  include:
                    type:
                    - array
                    - 'null'
                    items:
                      type: string
                      enum:
                      - message.input_image.image_url
                      - computer_call_output.output.image_url
                      - reasoning.encrypted_content
                      - code_interpreter_call.outputs
                    description: 'Specify additional output data to include in the model response. Currently supported values are:

                      - code_interpreter_call.outputs: Includes the outputs of python code execution in code interpreter tool call items.

                      - computer_call_output.output.image_url: Include image urls from the computer call output.

                      - file_search_call.results: Include the search results of the file search tool call.

                      - message.output_text.logprobs: Include logprobs with assistant messages.

                      - reasoning.encrypted_content: Includes an encrypted version of reasoning tokens in reasoning item outputs. This enables reasoning items to be used in multi-turn conversations when using the Responses API statelessly (like when the store parameter is set to false, or when an organization is enrolled in the zero data retention program).

                      '
                  max_output_tokens:
                    type: integer
                    minimum: 16
                    description: An upper bound for the number of tokens that can be generated for a response, including visible output tokens and reasoning tokens.
                  previous_response_id:
                    type:
                    - string
                    - 'null'
                    description: The unique ID of the previous response to the model. Use this to create multi-turn conversations.
                  prompt:
                    type:
                    - object
                    - 'null'
                    properties:
                      id:
                        type: string
                        description: The unique identifier of the prompt template to use.
                      variables:
                        type:
                        - object
                        - 'null'
                        additionalProperties:
                          anyOf:
                          - type: string
                          - oneOf:
                            - type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - input_text
                                  description: The type of the input item. Always input_text.
                                text:
                                  type: string
                                  description: The text input to the model.
                              required:
                              - type
                              - text
                              description: A text input to the model.
                            - type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - input_image
                                  description: The type of the input item. Always input_image.
                                detail:
                                  type: string
                                  enum:
                                  - high
                                  - low
                                  - auto
                                  default: auto
                                  description: The detail level of the image to be sent to the model. One of high, low, or auto.
                                image_url:
                                  type:
                                  - string
                                  - 'null'
                                  description: The URL of the image to be sent to the model. A fully qualified URL or base64 encoded image in a data URL.
                              required:
                              - type
                            - type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - input_file
                                  description: The type of the input item. Always input_file.
                                file_data:
                                  type: string
                                  description: The content of the file to be sent to the model.
                                filename:
                                  type: string
                                  description: The name of the file to be sent to the model.
                              required:
                              - type
                        description: Optional map of values to substitute in for variables in your prompt. The substitution values can either be strings, or other Response input types like images or files.
                      version:
                        type:
                        - string
                        - 'null'
                        description: Optional version of the prompt template.
                    required:
                    - id
                    description: Reference to a prompt template and its variables.
                  store:
                    type:
                    - boolean
                    - 'null'
                    default: false
                    description: Whether to store the generated model response for later retrieval via API.
                  stream:
                    type:
                    - boolean
                    - 'null'
                    default: false
                    description: 'If set to true, the model response data will be streamed to the client as it is generated using server-sent events. '
                  text:
                    type: object
                    properties:
                      format:
                        oneOf:
                        - type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - text
                              description: The type of response format being defined. Always text.
                          required:
                          - type
                          additionalProperties: false
                          description: Default response format. Used to generate text responses.
                        - type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - json_object
                              description: The type of response format being defined. Always json_object.
                          required:
                          - type
                          additionalProperties: false
                          description: An older method of generating JSON responses. Using json_schema is recommended for models that support it. Note that the model will not generate JSON without a system or user message instructing it to do so.
                        - type: object
                          properties:
                            name:
                              type: string
                              description: The name of the response format. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 64.
                            schema:
                              type: object
                              additionalProperties: {}
                              description: The schema for the response format, described as a JSON Schema object.
                            type:
                              type: string
                              enum:
                              - json_schema
                            strict:
                              type:
                              - boolean
                              - 'null'
                              description: Whether to enable strict schema adherence when generating the output. If set to True, the model will always follow the exact schema defined in the schema field. Only a subset of JSON Schema is supported when strict is True.
                            description:
                              type: string
                              description: A description of what the response format is for, used by the model to determine how to respond in the format.
                          required:
                          - name
                          - schema
                          - type
                          description: JSON Schema response format. Used to generate structured JSON responses.
                        description: An object specifying the format that the model must output.
                    required:
                    - format
                    description: Configuration options for a text response from the model. Can be plain text or structured JSON data.
                  truncation:
                    type: string
                    enum:
                    - auto
                    - disabled
                    default: disabled
                    description: 'The truncation strategy to use for the model response.

                      - auto: If the context of this response and previous ones exceeds the model''s context window size, the model will truncate the response to fit the context window by dropping input items in the middle of the conversation.

                      - disabled (default): If a model response will exceed the context window size for a model, the request will fail with a 400 error.

                      '
                  tools:
                    type: array
                    items:
                      anyOf:
                      - type: object
                        properties:
                          name:
                            type: string
                            description: The name of the function to call.
                          parameters:
                            type: object
                            additionalProperties: {}
                            description: A JSON schema object describing the parameters of the function.
                          strict:
                            anyOf:
                            - type: boolean
                            - {}
                            - {}
                            description: Whether to enforce strict parameter validation.
                          type:
                            type: string
                            enum:
                            - function
                            description: The type of the function tool. Always function.
                          description:
                            type: string
                            description: A description of the function. Used by the model to determine whether or not to call the function.
                        required:
                        - name
                        - parameters
                        - type
                        description: Defines a function in your own code the model can choose to call.
                      - type: object
                        properties:
                          server_label:
                            type: string
                            description: A label for this MCP server, used to identify it in tool calls.
                          server_url:
                            type: string
                            description: The URL for the MCP server.
                          type:
                            type: string
                            enum:
                            - mcp
                            description: The type of the MCP tool. Always mcp.
                          allowed_tools:
                            anyOf:
                            - type: array
                              items:
                                type: string
                              description: A string array of allowed tool names.
                            - type: object
                              properties:
                                tool_names:
                                  type: array
                                  items:
                                    type: string
                                  description: List of allowed tool names.
                              description: A filter object to specify which tools are allowed.
                            - {}
                            description: List of allowed tool names or a filter object.
                          headers:
                            type:
                            - object
                            - 'null'
                            additionalProperties:
                              type: string
                            description: Optional HTTP headers to send to the MCP server. Use for authentication or other purposes.
                          require_approval:
                            anyOf:
                            - type: string
                              enum:
                              - always
                              - never
                            - type: object
                              properties:
                                always:
                                  type: object
                                  properties:
                                    tool_names:
                                      type: array
                                      items:
                                        type: string
                                      description: List of tools that require approval.
                                  description: A list of tools that always require approval.
                                never:
                                  type: object
                                  properties:
                                    tool_names:
                                      type: array
                                      items:
                                        type: string
                                      description: List of tools that do not require approval.
                                  description: A list of tools that never require approval.
                            - {}
                            description: Specify which of the MCP server's tools require approval.
                        required:
                        - server_label
                        - server_url
                        - type
                        description: Give the model access to additional tools via remote Model Context Protocol (MCP) servers.
                      - type: object
                        properties:
                          type:
                            type: string
                            minLength: 1
                        required:
                        - type
                    description: An array of tools the model may call while generating a response. You can specify which tool to use by setting the tool_choice parameter.
                  tool_choice:
                    anyOf:
                    - type: string
                      enum:
                      - none
                      - auto
                      - required
                      description: 'Controls which (if any) tool is called by the model.


                        none means the model will not call any tool and instead generates a message.


                        auto means the model can pick between generating a message or calling one or more tools.


                        required means the model must call one or more tools.'
                    - type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - web_search_preview
                          - web_search_preview_2025_03_11
                          - computer_use_preview
                          - code_interpreter
                          - mcp
                      required:
                      - type
                      description: Indicates that the model should use a built-in tool to generate a response.
                    - type: object
                      properties:
                        name:
                          type: string
                          description: The name of the function to call.
                        type:
                          type: string
                          enum:
                          - function
                          description: For function calling, the type is always function.
                      required:
                      - name
                      - type
                    description: How the model should select which tool (or tools) to use when generating a response.
                  parallel_tool_calls:
                    type:
                    - boolean
                    - 'null'
                    description: Whether to allow the model to run tool calls in parallel.
                  temperature:
                    type:
                    - number
                    - 'null'
                    minimum: 0
                    maximum: 2
                    description: What sampling temperature to use, between 0 and 2. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic. We generally recommend altering this or top_p but not both.
                  top_p:
                    type: number
                    minimum: 0.01
                    maximum: 1
                    description: 'An alternative to sampling with temperature, called nucleus sampling, where the model considers the results of the tokens with top_p probability mass. So 0.1 means only the tokens comprising the top 10% probability mass are considered.

                      We generally recommend altering this or temperature but not both.'
                required:
                - model
                - input
                title: gpt-3.5-turbo, openai/gpt-3.5-turbo, gpt-3.5-turbo-0125, openai/gpt-3.5-turbo-0125, gpt-3.5-turbo-1106, openai/gpt-3.5-turbo-1106, gpt-4, openai/gpt-4
              - type: object
                properties:
                  model:
                    type: string
                    enum:
                    - gpt-4.1-mini
                    - openai/gpt-4.1-mini
                    - gpt-4.1-mini-2025-04-14
                    - openai/gpt-4.1-mini-2025-04-14
                    - gpt-4.1
                    - openai/gpt-4.1
                    - gpt-4.1-2025-04-14
                    - openai/gpt-4.1-2025-04-14
                    - gpt-4o-mini
                    - openai/gpt-4o-mini
                    - gpt-4o-mini-2024-07-18
                    - openai/gpt-4o-mini-2024-07-18
                    - gpt-4o
                    - openai/gpt-4o
                    - gpt-4o-2024-08-06
                    - openai/gpt-4o-2024-08-06
                    - gpt-4o-2024-11-20
                    - openai/gpt-4o-2024-11-20
                    - gpt-4o-2024-05-13
                    - openai/gpt-4o-2024-05-13
                  input:
                    anyOf:
                    - type: string
                      description: A text input to the model, equivalent to a text input with the user role.
                    - type: array
                      items:
                        anyOf:
                        - type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - message
                              description: The type of the message input. Always message.
                            role:
                              type: string
                              enum:
                              - user
                              - assistant
                              - system
                              - developer
                              description: The role of the message input.
                            content:
                              anyOf:
                              - type: string
                                description: A text input to the model.
                              - type: array
                                items:
                                  oneOf:
                                  - type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                        - input_text
                                        description: The type of the input item. Always input_text.
                                      text:
                                        type: string
                                        description: The text input to the model.
                                    required:
                                    - type
                                    - text
                                    description: A text input to the model.
                                  - type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                        - input_image
                                        description: The type of the input item. Always input_image.
                                      detail:
                                        type: string
                                        enum:
                                        - high
                                        - low
                                        - auto
                                        default: auto
                                        description: The detail level of the image to be sent to the model. One of high, low, or auto.
                                      image_url:
                                        type:
                                        - string
                                        - 'null'
                                        description: The URL of the image to be sent to the model. A fully qualified URL or base64 encoded image in a data URL.
                                    required:
                                    - type
                                  - type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                        - input_file
                                        description: The type of the input item. Always input_file.
                                      file_data:
                                        type: string
                                        description: The content of the file to be sent to the model.
                                      filename:
                                        type: string
                                        description: The name of the file to be sent to the model.
                                    required:
                                    - type
                                description: A list of one or many input items to the model, containing different content types.
                              description: Text, image, or audio input to the model, used to generate a response. Can also contain previous assistant responses.
                          required:
                          - role
                          - content
                          description: A message input to the model with a role indicating instruction following hierarchy. Instructions given with the developer or system role take precedence over instructions given with the user role. Messages with the assistant role are presumed to have been generated by the model in previous interactions.
                        - type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - message
                              description: The type of the message input. Always message.
                            role:
                              type: string
                              enum:
                              - user
                              - system
                              - developer
                              description: The role of the message input.
                            status:
                              type: string
                              enum:
                              - in_progress
                              - completed
                              - incomplete
                              description: The status of item.
                            content:
                              type: array
                              items:
                                oneOf:
                                - type: object
                                  properties:
                                    type:
                                      type: string
                                      enum:
                                      - input_text
                                      description: The type of the input item. Always input_text.
                                    text:
                                      type: string
                                      description: The text input to the model.
                                  required:
                                  - type
                                  - text
                                  description: A text input to the model.
                                - type: object
                                  properties:
                                    type:
                                      type: string
                                      enum:
                                      - input_image
                                      description: The type of the input item. Always input_image.
                                    detail:
                                      type: string
                                      enum:
                                      - high
                                      - low
                                      - auto
                                      default: auto
                                      description: The detail level of the image to be sent to the model. One of high, low, or auto.
                                    image_url:
                                      type:
                                      - string
                                      - 'null'
                                      description: The URL of the image to be sent to the model. A fully qualified URL or base64 encoded image in a data URL.
                                  required:
                                  - type
                                - type: object
                                  properties:
                                    type:
                                      type: string
                                      enum:
                                      - input_file
                                      description: The type of the input item. Always input_file.
                                    file_data:
                                      type: string
                                      description: The content of the file to be sent to the model.
                                    filename:
                                      type: string
                                      description: The name of the file to be sent to the model.
                                  required:
                                  - type
                              description: A list of one or many input items to the model, containing different content types.
                          required:
                          - role
                          - content
                          description: A message input to the model with a role indicating instruction following hierarchy. Instructions given with the developer or system role take precedence over instructions given with the user role.
                        - type: object
                          properties:
                            id:
                              type: string
                              description: The unique ID of the output message.
                            role:
                              type: string
                              enum:
                              - assistant
                              description: The role of the output message. Always assistant.
                            status:
                              type: string
                              enum:
                              - in_progress
                              - completed
                              - incomplete
                              description: The status of the message input.
                            type:
                              type: string
                              enum:
                              - message
                              description: The type of the output message. Always message.
                            content:
                              type: array
                              items:
                                oneOf:
                                - type: object
                                  properties:
                                    annotations:
                                      type: array
                                      items:
                                        oneOf:
                                        - type: object
                                          properties:
                                            end_index:
                                              type: integer
                                              description: The index of the last character of the URL citation in the message.
                                            start_index:
                                              type: integer
                                              description: The index of the first character of the URL citation in the message.
                                            title:
                                              type: string
                                              description: The title of the web resource.
                                            type:
                                              type: string
                                              enum:
                                              - url_citation
                                              description: The type of the URL citation. Always url_citation.
                                            url:
                                              type: string
                                              format: uri
                                              description: The URL of the web resource.
                                          required:
                                          - end_index
                                          - start_index
                                          - title
                                          - type
                                          - url
                                          description: A citation for a web resource used to generate a model response.
                                      description: The annotations of the text output.
                                    text:
                                      type: string
                                      description: The text output from the model.
                                    type:
                                      type: string
                                      enum:
                                      - output_text
                                      description: The type of the output text. Always output_text.
                                    logprobs:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          bytes:
                                            type: array
                                            items:
                                              type: integer
                                          logprob:
                                            type: number
                                          token:
                                            type: string
                                          top_logprobs:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                bytes:
                                                  type: array
                                                  items:
                                                    type: integer
                                                logprob:
                                                  type: number
                                                token:
                                                  type: string
                                              required:
                                              - bytes
                                              - logprob
                                              - token
                                        required:
                                        - bytes
                                        - logprob
                                        - token
                                        - top_logprobs
                                  required:
                                  - annotations
                                  - text
                                  - type
                                - type: object
                                  properties:
                                    refusal:
                                      type: string
                                      description: The refusal explanationfrom the model.
                                    type:
                                      type: string
                                      enum:
                                      - refusal
                                      description: The type of the refusal. Always refusal.
                                  required:
                                  - refusal
                                  - type
                                description: The content of the output message.
                          required:
                          - id
                          - role
                          - status
                          - type
                          - content
                          description: An output message from the model.
                        - type: object
                          properties:
                            id:
                              type: string
                              description: The unique ID of the web search tool call.
                            status:
                              type: string
                              enum:
                              - in_progress
                              - completed
                              - searching
                              - failed
                              description: The status of the web search tool call.
                            type:
                              type: string
                              enum:
                              - web_search_call
                              description: The type of the web search tool call. Always web_search_call.
                          required:
                          - id
                          - status
                          - type
                          description: The results of a web search tool call.
                        - type: object
                          properties:
                            arguments:
                              type: string
                              description: A JSON string of the arguments to pass to the function.
                            call_id:
                              type: string
                              description: The unique ID of the function tool call generated by the model.
                            name:
                              type: string
                              description: The name of the function to run.
                            type:
                              type: string
                              enum:
                              - function_call
                              description: The type of the function tool call. Always function_call.
                            id:
                              type: string
                              description: The unique ID of the function tool call.
                            status:
                              type: string
                              enum:
                              - in_progress
                              - completed
                              - incomplete
                              description: The status of the item.
                          required:
                          - arguments
                          - call_id
                          - name
                          - type
                          description: A tool call to run a function.
                        - type: object
                          properties:
                            call_id:
                              type: string
                              description: The unique ID of the function tool call generated by the model.
                            output:
                              type: string
                              description: A JSON string of the output of the function tool call.
                            type:
                              type: string
                              enum:
                              - function_call_output
                              description: The type of the function tool call output. Always function_call_output.
                            id:
                              type:
                              - string
                              - 'null'
                              description: The unique ID of the function tool call output. Populated when this item is returned via API.
                            status:
                              type:
                              - string
                              - 'null'
                              enum:
                              - in_progress
                              - completed
                              - incomplete
                              description: The status of the item.
                          required:
                          - call_id
                          - output
                          - type
                          description: The output of a function tool call.
                        - type: object
                          properties:
                            code:
                              type: string
                              description: The code to run, or null if not available.
                            id:
                              type: string
                              description: The unique ID of the code interpreter tool call.
                            outputs:
                              type:
                              - array
                              - 'null'
                              items:
                                oneOf:
                                - type: object
                                  properties:
                                    logs:
                                      type: string
                                      description: The logs output from the code interpreter.
                                    type:
                                      type: string
                                      enum:
                                      - logs
                                      description: The type of the output. Always 'logs'.
                                  required:
                                  - logs
                                  - type
                                - type: object
                                  properties:
                                    type:
                                      type: string
                                      enum:
                                      - image
                                    url:
                                      type: string
                                  required:
                                  - type
                                  - url
                              description: The outputs generated by the code interpreter, such as logs or images. Can be null if no outputs are available.
                            status:
                              type: string
                              enum:
                              - in_progress
                              - completed
                              - interpreting
                              description: The status of the code interpreter tool call.
                            type:
                              type: string
                              enum:
                              - code_interpreter_call
                              description: The type of the code interpreter tool call. Always code_interpreter_call.
                            container_id:
                              type: string
                              description: The ID of the container used to run the code.
                          required:
                          - code
                          - id
                          - outputs
                          - status
                          - type
                          - container_id
                          description: A tool call to run code.
                        - type: object
                          properties:
                            id:
                              type: string
                              description: The unique ID of the list.
                            server_label:
                              type: string
                              description: The label of the MCP server.
                            tools:
                              type: array
                              items:
                                type: object
                                properties:
                                  input_schema:
                                    type: object
                                    additionalProperties: {}
                                    description: The JSON schema describing the tool's input.
                                  name:
                                    type: string
                                    description: The name of the tool.
                                  annotations:
                                    type:
                                    - object
                                    - 'null'
                                    additionalProperties: {}
                                    description: Additional annotations about the tool.
                                  description:
                                    type:
                                    - string
                                    - 'null'
                                    description: The description of the tool.
                                required:
                                - input_schema
                                - name
                              description: The tools available on the server.
                            type:
                              type: string
                              enum:
                              - mcp_list_tools
                              description: The type of the item. Always mcp_list_tools.
                            error:
                              type:
                              - string
                              - 'null'
                              description: Error message if the server could not list tools.
                          required:
                          - id
                          - server_label
                          - tools
                          - type
                          description: A list of tools available on an MCP server.
                        - type: object
                          properties:
                            arguments:
                              type: string
                              description: A JSON string of arguments for the tool.
                            id:
                              type: string
                              description: The unique ID of the approval request.
                            name:
                              type: string
                            server_label:
                              type: string
                              description: The name of the tool to run.
                            type:
                              type: string
                              enum:
                              - mcp_approval_request
                              description: The type of the item. Always mcp_approval_request.
                          required:
                          - arguments
                          - id
                          - name
                          - server_label
                          - type
                          description: A request for human approval of a tool invocation.
                        - type: object
                          properties:
                            approval_request_id:
                              type: string
                              description: The ID of the approval request being answered.
                            approve:
                              type: boolean
                              description: Whether the request was approved.
                            type:
                              type: string
                              enum:
                              - mcp_approval_response
                              description: The type of the item. Always mcp_approval_response.
                            id:
                              type:
                              - string
                              - 'null'
                              description: The unique ID of the approval response.
                            reason:
                              type:
                              - string
                              - 'null'
                              description: Optional reason for the decision.
                          required:
                          - approval_request_id
                          - approve
                          - type
                          description: A response to an MCP approval request.
                        - type: object
                          properties:
                            arguments:
                              type: string
                              description: A JSON string of the arguments passed to the tool.
                            id:
                              type: string
                              description: The unique ID of the tool call.
                            name:
                              type: string
                              description: The name of the tool that was run.
                            server_label:
                              type: string
                              description: The label of the MCP server running the tool.
                            type:
                              type: string
                              enum:
                              - mcp_call
                              description: The type of the item. Always mcp_call.
                            error:
                              type:
                              - string
                              - 'null'
                              description: The error from the tool call, if any.
                            output:
                              type:
                              - string
                              - 'null'
                              description: The output from the tool call.
                          required:
                          - arguments
                          - id
                          - name
                          - server_label
                          - type
                          description: An invocation of a tool on an MCP server.
                        - type: object
                          properties:
                            id:
                              type: string
                              description: The ID of the item to reference.
                            type:
                              type:
                              - string
                              - 'null'
                              enum:
                              - item_reference
                              description: The type of item to reference. Always item_reference.
                          required:
                          - id
                          description: An internal identifier for an item to reference.
                    description: Text, image, or file inputs to the model, used to generate a response.
                  background:
                    type: boolean
                    default: false
                    description: Whether to run the model response in the background.
                  instructions:
                    type:
                    - string
                    - 'null'
                    description: 'A system (or developer) message inserted into the model''s context.


                      When using along with previous_response_id, the instructions from a previous response will not be carried over to the next response. This makes it simple to swap out system (or developer) messages in new responses.'
                  include:
                    type:
                    - array
                    - 'null'
                    items:
                      type: string
                      enum:
                      - message.input_image.image_url
                      - computer_call_output.output.image_url
                      - reasoning.encrypted_content
                      - code_interpreter_call.outputs
                    description: 'Specify additional output data to include in the model response. Currently supported values are:

                      - code_interpreter_call.outputs: Includes the outputs of python code execution in code interpreter tool call items.

                      - computer_call_output.output.image_url: Include image urls from the computer call output.

                      - file_search_call.results: Include the search results of the file search tool call.

                      - message.output_text.logprobs: Include logprobs with assistant messages.

                      - reasoning.encrypted_content: Includes an encrypted version of reasoning tokens in reasoning item outputs. This enables reasoning items to be used in multi-turn conversations when using the Responses API statelessly (like when the store parameter is set to false, or when an organization is enrolled in the zero data retention program).

                      '
                  max_output_tokens:
                    type: integer
                    minimum: 16
                    description: An upper bound for the number of tokens that can be generated for a response, including visible output tokens and reasoning tokens.
                  previous_response_id:
                    type:
                    - string
                    - 'null'
                    description: The unique ID of the previous response to the model. Use this to create multi-turn conversations.
                  prompt:
                    type:
                    - object
                    - 'null'
                    properties:
                      id:
                        type: string
                        description: The unique identifier of the prompt template to use.
                      variables:
                        type:
                        - object
                        - 'null'
                        additionalProperties:
                          anyOf:
                          - type: string
                          - oneOf:
                            - type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - input_text
                                  description: The type of the input item. Always input_text.
                                text:
                                  type: string
                                  description: The text input to the model.
                              required:
                              - type
                              - text
                              description: A text input to the model.
                            - type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - input_image
                                  description: The type of the input item. Always input_image.
                                detail:
                                  type: string
                                  enum:
                                  - high
                                  - low
                                  - auto
                                  default: auto
                                  description: The detail level of the image to be sent to the model. One of high, low, or auto.
                                image_url:
                                  type:
                                  - string
                                  - 'null'
                                  description: The URL of the image to be sent to the model. A fully qualified URL or base64 encoded image in a data URL.
                              required:
                              - type
                            - type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - input_file
                                  description: The type of the input item. Always input_file.
                                file_data:
                                  type: string
                                  description: The content of the file to be sent to the model.
                                filename:
                                  type: string
                                  description: The name of the file to be sent to the model.
                              required:
                              - type
                        description: Optional map of values to substitute in for variables in your prompt. The substitution values can either be strings, or other Response input types like images or files.
                      version:
                        type:
                        - string
                        - 'null'
                        description: Optional version of the prompt template.
                    required:
                    - id
                    description: Reference to a prompt template and its variables.
                  store:
                    type:
                    - boolean
                    - 'null'
                    default: false
                    description: Whether to store the generated model response for later retrieval via API.
                  stream:
                    type:
                    - boolean
                    - 'null'
                    default: false
                    description: 'If set to true, the model response data will be streamed to the client as it is generated using server-sent events. '
                  text:
                    type: object
                    properties:
                      format:
                        oneOf:
                        - type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - text
                              description: The type of response format being defined. Always text.
                          required:
                          - type
                          additionalProperties: false
                          description: Default response format. Used to generate text responses.
                        - type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - json_object
                              description: The type of response format being defined. Always json_object.
                          required:
                          - type
                          additionalProperties: false
                          description: An older method of generating JSON responses. Using json_schema is recommended for models that support it. Note that the model will not generate JSON without a system or user message instructing it to do so.
                        - type: object
                          properties:
                            name:
                              type: string
                              description: The name of the response format. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 64.
                            schema:
                              type: object
                              additionalProperties: {}
                              description: The schema for the response format, described as a JSON Schema object.
                            type:
                              type: string
                              enum:
                              - json_schema
                            strict:
                              type:
                              - boolean
                              - 'null'
                              description: Whether to enable strict schema adherence when generating the output. If set to True, the model will always follow the exact schema defined in the schema field. Only a subset of JSON Schema is supported when strict is True.
                            description:
                              type: string
                              description: A description of what the response format is for, used by the model to determine how to respond in the format.
                          required:
                          - name
                          - schema
                          - type
                          description: JSON Schema response format. Used to generate structured JSON responses.
                        description: An object specifying the format that the model must output.
                    required:
                    - format
                    description: Configuration options for a text response from the model. Can be plain text or structured JSON data.
                  truncation:
                    type: string
                    enum:
                    - auto
                    - disabled
                    default: disabled
                    description: 'The truncation strategy to use for the model response.

                      - auto: If the context of this response and previous ones exceeds the model''s context window size, the model will truncate the response to fit the context window by dropping input items in the middle of the conversation.

                      - disabled (default): If a model response will exceed the context window size for a model, the request will fail with a 400 error.

                      '
                  tools:
                    type: array
                    items:
                      anyOf:
                      - type: object
                        properties:
                          name:
                            type: string
                            description: The name of the function to call.
                          parameters:
                            type: object
                            additionalProperties: {}
                            description: A JSON schema object describing the parameters of the function.
                          strict:
                            anyOf:
                            - type: boolean
                            - {}
                            - {}
                            description: Whether to enforce strict parameter validation.
                          type:
                            type: string
                            enum:
                            - function
                            description: The type of the function tool. Always function.
                          description:
                            type: string
                            description: A description of the function. Used by the model to determine whether or not to call the function.
                        required:
                        - name
                        - parameters
                        - type
                        description: Defines a function in your own code the model can choose to call.
                      - type: object
                        properties:
                          type:
                            type: string
                            enum:
                            - web_search_preview
                            - web_search_preview_2025_03_11
                            description: The type of the web search tool. One of web_search_preview or web_search_preview_2025_03_11.
                          search_context_size:
                            type: string
                            enum:
                            - low
                            - medium
                            - high
                            description: High level guidance for the amount of context window space to use for the search. One of low, medium, or high. medium is the default.
                          user_location:
                            type:
                            - object
                            - 'null'
                            properties:
                              type:
                                type: string
                                enum:
                                - approximate
                                description: The type of location approximation. Always approximate.
                              city:
                                type:
                                - string
                                - 'null'
                                description: Free text input for the city of the user, e.g. San Francisco.
                              country:
                                type:
                                - string
                                - 'null'
                                description: The two-letter ISO country code of the user, e.g. US.
                              region:
                                type:
                                - string
                                - 'null'
                                description: Free text input for the region of the user, e.g. California.
                              timezone:
                                type:
                                - string
                                - 'null'
                                description: The IANA timezone of the user, e.g. America/Los_Angeles.
                            required:
                            - type
                            description: The user's location
                        required:
                        - type
                        description: This tool searches the web for relevant results to use in a response.
                      - type: object
                        properties:
                          server_label:
                            type: string
                            description: A label for this MCP server, used to identify it in tool calls.
                          server_url:
                            type: string
                            description: The URL for the MCP server.
                          type:
                            type: string
                            enum:
                            - mcp
                            description: The type of the MCP tool. Always mcp.
                          allowed_tools:
                            anyOf:
                            - type: array
                              items:
                                type: string
                              description: A string array of allowed tool names.
                            - type: object
                              properties:
                                tool_names:
                                  type: array
                                  items:
                                    type: string
                                  description: List of allowed tool names.
                              description: A filter object to specify which tools are allowed.
                            - {}
                            description: List of allowed tool names or a filter object.
                          headers:
                            type:
                            - object
                            - 'null'
                            additionalProperties:
                              type: string
                            description: Optional HTTP headers to send to the MCP server. Use for authentication or other purposes.
                          require_approval:
                            anyOf:
                            - type: string
                              enum:
                              - always
                              - never
                            - type: object
                              properties:
                                always:
                                  type: object
                                  properties:
                                    tool_names:
                                      type: array
                                      items:
                                        type: string
                                      description: List of tools that require approval.
                                  description: A list of tools that always require approval.
                                never:
                                  type: object
                                  properties:
                                    tool_names:
                                      type: array
                                      items:
                                        type: string
                                      description: List of tools that do not require approval.
                                  description: A list of tools that never require approval.
                            - {}
                            description: Specify which of the MCP server's tools require approval.
                        required:
                        - server_label
                        - server_url
                        - type
                        description: Give the model access to additional tools via remote Model Context Protocol (MCP) servers.
                      - type: object
                        properties:
                          type:
                            type: string
                            enum:
                            - code_interpreter
                            description: The type of the code interpreter tool. Always code_interpreter.
                          container:
                            anyOf:
                            - type: string
                            - type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - auto
                              required:
                              - type
                            description: The container ID.
                        required:
                        - type
                        - container
                        description: A tool that runs Python code to help generate a response to a prompt.
                      - type: object
                        properties:
                          type:
                            type: string
                            minLength: 1
                        required:
                        - type
                    description: An array of tools the model may call while generating a response. You can specify which tool to use by setting the tool_choice parameter.
                  tool_choice:
                    anyOf:
                    - type: string
                      enum:
                      - none
                      - auto
                      - required
                      description: 'Controls which (if any) tool is called by the model.


                        none means the model will not call any tool and instead generates a message.


                        auto means the model can pick between generating a message or calling one or more tools.


                        required means the model must call one or more tools.'
                    - type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - web_search_preview
                          - web_search_preview_2025_03_11
                          - computer_use_preview
                          - code_interpreter
                          - mcp
                      required:
                      - type
                      description: Indicates that the model should use a built-in tool to generate a response.
                    - type: object
                      properties:
                        name:
                          type: string
                          description: The name of the function to call.
                        type:
                          type: string
                          enum:
                          - function
                          description: For function calling, the type is always function.
                      required:
                      - name
                      - type
                    description: How the model should select which tool (or tools) to use when generating a response.
                  temperature:
                    type:
                    - number
                    - 'null'
                    minimum: 0
                    maximum: 2
                    description: What sampling temperature to use, between 0 and 2. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic. We generally recommend altering this or top_p but not both.
                  top_p:
                    type: number
                    minimum: 0.01
                    maximum: 1
[...]
