openapi: 3.2.0
info:
  title: AIMLAPI AI/ML API Documentation API Key Management API
  description: '=K Welcome to the AI/ML API docs! AI/ML API makes integrating state-of-the-art AI models into your applications effortless, offering seamless compatibility with OpenAI-like interfaces.


    **Features Include:**


    - **Inference**: Easily evaluate models for text, images, and more using our API.


    - **API Key Management**: Securely manage your API keys for controlled access.


    - **Broad Model Selection**: Access a diverse range of models for various AI tasks.


    See Quickstart'
  version: 1.0.0
servers:
- url: https://api.aimlapi.com
security:
- bearerAuth: []
tags:
- name: API Key Management
  description: '## **Creating an API Key**


    To create a new API key Sign-ip to app.aimlapi.com, navigate to Key Management page and create an API Key


    Note that your Keys only work with an Active Subscription


    ## **Disabling an API Key**


    If you need to revoke access temporarily, disable an API key by:


    - Sending a PUT request to `/service/api-keys/{id}/disable`, replacing `{id}` with the key''s unique identifier.'
paths:
  /api-keys/{id}/disable:
    put:
      tags:
      - API Key Management
      summary: AIMLAPI Disable API Key
      requestBody:
        content: {}
      parameters:
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: <number>
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
              example: ''
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      operationId: putApiKeysByIdDisable
      x-operation-id-source: derived
  /api-keys/{id}/enable:
    put:
      tags:
      - API Key Management
      summary: AIMLAPI Enable API Key
      requestBody:
        content: {}
      parameters:
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: '(Required) '
        example: <number>
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
              example: ''
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      operationId: putApiKeysByIdEnable
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
