openapi: 3.2.0
info:
  title: AIMLAPI AI/ML API Documentation [WIP] Completions API
  description: '=K Welcome to the AI/ML API docs! AI/ML API makes integrating state-of-the-art AI models into your applications effortless, offering seamless compatibility with OpenAI-like interfaces.


    **Features Include:**


    - **Inference**: Easily evaluate models for text, images, and more using our API.


    - **API Key Management**: Securely manage your API keys for controlled access.


    - **Broad Model Selection**: Access a diverse range of models for various AI tasks.


    See Quickstart'
  version: 1.0.0
servers:
- url: https://api.aimlapi.com
security:
- bearerAuth: []
tags:
- name: '[WIP] Completions'
paths:
  /completions:
    post:
      tags:
      - '[WIP] Completions'
      summary: AIMLAPI Create Completion
      description: Creates a completion for the provided prompt and parameters.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                model: '{{llmModel}}'
                prompt: Write a limmerick about APIs
                max_tokens: 250
                temperature: 0.7
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      operationId: postCompletions
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
