openapi: 3.2.0
info:
  title: AIML Video API
  version: 1.0.0
servers:
- url: https://api.aimlapi.com
tags:
- name: Video
paths:
  /v2/video/generations:
    post:
      operationId: _v2_video_generations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              anyOf:
              - type: object
                properties:
                  model:
                    type: string
                    enum:
                    - sora-2-t2v
                    - openai/sora-2-t2v
                    - sora-2
                    - openai/sora-2
                  prompt:
                    type: string
                    description: The text description of the scene, subject, or action to generate in the video.
                  resolution:
                    type: string
                    enum:
                    - 720p
                    default: 720p
                    description: The resolution of the output video, where the number refers to the short side in pixels.
                  aspect_ratio:
                    type: string
                    enum:
                    - '16:9'
                    - '9:16'
                    default: '16:9'
                    description: The aspect ratio of the generated video.
                  duration:
                    type: integer
                    description: The length of the output video in seconds.
                    enum:
                    - 4
                    - 8
                    - 12
                    default: '4'
                required:
                - model
                - prompt
                title: sora-2-t2v, openai/sora-2-t2v, sora-2, openai/sora-2
              - type: object
                properties:
                  model:
                    type: string
                    enum:
                    - sora-2-i2v
                    - openai/sora-2-i2v
                  prompt:
                    type: string
                    description: The text description of the scene, subject, or action to generate in the video.
                  image_url:
                    type: string
                    format: uri
                    description: 'A URL or a Base64-encoded image file used as the initial frame for video generation.

                      The image dimensions must match the selected video resolution and aspect ratio.

                      Supported configurations include:

                      720p with aspect ratios:

                      - 16:9 — 1280x720

                      - 9:16 — 720x1280


                      1080p with aspect ratios:

                      - 16:9 — 1792x1024

                      - 9:16 — 1024x1792'
                  resolution:
                    type: string
                    enum:
                    - 720p
                    default: 720p
                    description: The resolution of the output video, where the number refers to the short side in pixels.
                  aspect_ratio:
                    type: string
                    enum:
                    - '16:9'
                    - '9:16'
                    default: '16:9'
                    description: The aspect ratio of the generated video.
                  duration:
                    type: integer
                    description: The length of the output video in seconds.
                    enum:
                    - 4
                    - 8
                    - 12
                    default: '4'
                required:
                - model
                - prompt
                - image_url
                title: sora-2-i2v, openai/sora-2-i2v
              - type: object
                properties:
                  model:
                    type: string
                    enum:
                    - sora-2-pro-t2v
                    - openai/sora-2-pro-t2v
                    - sora-2-pro
                    - openai/sora-2-pro
                  prompt:
                    type: string
                    description: The text description of the scene, subject, or action to generate in the video.
                  resolution:
                    type: string
                    enum:
                    - 720p
                    - 1080p
                    default: 1080p
                    description: The resolution of the output video, where the number refers to the short side in pixels.
                  aspect_ratio:
                    type: string
                    enum:
                    - '16:9'
                    - '9:16'
                    default: '16:9'
                    description: The aspect ratio of the generated video.
                  duration:
                    type: integer
                    description: The length of the output video in seconds.
                    enum:
                    - 4
                    - 8
                    - 12
                    default: '4'
                required:
                - model
                - prompt
                title: sora-2-pro-t2v, openai/sora-2-pro-t2v, sora-2-pro, openai/sora-2-pro
              - type: object
                properties:
                  model:
                    type: string
                    enum:
                    - sora-2-pro-i2v
                    - openai/sora-2-pro-i2v
                  prompt:
                    type: string
                    description: The text description of the scene, subject, or action to generate in the video.
                  image_url:
                    type: string
                    format: uri
                    description: 'A URL or a Base64-encoded image file used as the initial frame for video generation.

                      The image dimensions must match the selected video resolution and aspect ratio.

                      Supported configurations include:

                      720p with aspect ratios:

                      - 16:9 — 1280x720

                      - 9:16 — 720x1280


                      1080p with aspect ratios:

                      - 16:9 — 1792x1024

                      - 9:16 — 1024x1792'
                  resolution:
                    type: string
                    enum:
                    - 720p
                    - 1080p
                    default: 1080p
                    description: The resolution of the output video, where the number refers to the short side in pixels.
                  aspect_ratio:
                    type: string
                    enum:
                    - '16:9'
                    - '9:16'
                    default: '16:9'
                    description: The aspect ratio of the generated video.
                  duration:
                    type: integer
                    description: The length of the output video in seconds.
                    enum:
                    - 4
                    - 8
                    - 12
                    default: '4'
                required:
                - model
                - prompt
                - image_url
                title: sora-2-pro-i2v, openai/sora-2-pro-i2v
              - type: object
                properties:
                  model:
                    type: string
                    enum:
                    - bytedance/seedance-1-0-pro
                    - bytedance/seedance-1-0-pro-fast
                    - bytedance/seedance-1-0-pro-t2v
                    - bytedance/seedance-1-0-pro-i2v
                  image_url:
                    type: string
                    format: uri
                    description: A direct link to an online image or a Base64-encoded local image that will serve as the visual base or the first frame for the video.
                  prompt:
                    type: string
                    description: The text description of the scene, subject, or action to generate in the video.
                  resolution:
                    type: string
                    enum:
                    - 480p
                    - 720p
                    - 1080p
                    default: 1080p
                    description: An enumeration where the short side of the video frame determines the resolution.
                  duration:
                    type: integer
                    description: The length of the output video in seconds.
                    enum:
                    - 5
                    - 10
                  watermark:
                    type: boolean
                    default: false
                    description: Whether the video contains a watermark.
                  seed:
                    type: integer
                    description: Varying the seed integer is a way to get different results for the same other request parameters. Using the same value for an identical request will produce similar results. If unspecified, a random number is chosen.
                  camerafixed:
                    type: boolean
                    default: false
                    description: 'Whether to fix the camera position.

                      - true: Fix the camera position. The platform will append instructions to fix the camera position in the user''s prompt, but the actual effect is not guaranteed.

                      - false: Do not fix the camera position.'
                  last_image_url:
                    type: string
                    format: uri
                    description: A direct link to an online image or a Base64-encoded local image to be used as the last frame of the video.
                required:
                - model
                - prompt
                title: bytedance/seedance-1-0-pro, bytedance/seedance-1-0-pro-fast, bytedance/seedance-1-0-pro-t2v, bytedance/seedance-1-0-pro-i2v
              - type: object
                properties:
                  model:
                    type: string
                    enum:
                    - bytedance/seedance-1-5-pro
                  prompt:
                    type: string
                    description: The text description of the scene, subject, or action to generate in the video.
                  image_url:
                    type: string
                    format: uri
                    description: A direct link to an online image or a Base64-encoded local image that will serve as the visual base or the first frame for the video.
                  last_image_url:
                    type: string
                    format: uri
                    description: A direct link to an online image or a Base64-encoded local image to be used as the last frame of the video.
                  aspect_ratio:
                    type: string
                    enum:
                    - '16:9'
                    - '4:3'
                    - '1:1'
                    - '3:4'
                    - '9:16'
                    - '21:9'
                    - adaptive
                    default: '16:9'
                    description: The aspect ratio of the generated video.
                  resolution:
                    type: string
                    enum:
                    - 480p
                    - 720p
                    - 1080p
                    default: 720p
                    description: An enumeration where the short side of the video frame determines the resolution.
                  duration:
                    type: integer
                    description: The length of the output video in seconds.
                    enum:
                    - 4
                    - 5
                    - 6
                    - 7
                    - 8
                    - 9
                    - 10
                    - 11
                    - 12
                  seed:
                    type: integer
                    default: -1
                    description: Varying the seed integer is a way to get different results for the same other request parameters. Using the same value for an identical request will produce similar results. If unspecified, a random number is chosen.
                  camera_fixed:
                    type: boolean
                    default: false
                    description: 'Whether to fix the camera position.

                      - true: Fix the camera position. The platform will append instructions to fix the camera position in the user''s prompt, but the actual effect is not guaranteed.

                      - false: Do not fix the camera position.'
                  watermark:
                    type: boolean
                    default: false
                    description: Whether the video contains a watermark.
                  generate_audio:
                    type: boolean
                    default: true
                    description: Whether to generate audio for the video.
                required:
                - model
                - prompt
                title: bytedance/seedance-1-5-pro
              - type: object
                properties:
                  model:
                    type: string
                    enum:
                    - bytedance/dreamina-seedance-2-0
                    - bytedance/seedance-2-0
                    - bytedance/seedance-2.0/image-to-video
                    - bytedance/seedance-2.0/reference-to-video
                    - bytedance/seedance-2.0/text-to-video
                  provider:
                    type: string
                    description: Provider routing override, pinning the request to one provider and disabling fallback. `auto` (default) uses the full Tencent Cloud VOD -> native ByteDance -> fal.ai chain. `tencent_vod` is the only provider that accepts reference images containing real people (it registers them as assets first); pinning `bytedance` or `fal` sends the images straight to a provider that rejects them with "the input image may contain real person". Case-insensitive.
                    example: auto
                  prompt:
                    type: string
                    description: The text description of the scene, subject, or action to generate in the video.
                  image_url:
                    type: string
                    format: uri
                    description: A direct link to an online image or a Base64-encoded local image that will serve as the visual base or the first frame for the video.
                  last_image_url:
                    type: string
                    format: uri
                    description: A direct link to an online image or a Base64-encoded local image to be used as the last frame of the video.
                  audio_url:
                    type: string
                    format: uri
                    description: URL, Base64-encoded string or asset ID of the audio. The duration of the audio file specified in the parameter must not exceed 15.2 seconds. If audio is provided, at least one reference image or video is required.
                  video_url:
                    type: string
                    format: uri
                    description: The public URL of the video. Only video URLs are supported.
                  image_urls:
                    type: array
                    items:
                      type: string
                      format: uri
                    minItems: 1
                    maxItems: 9
                    description: Reference images to guide video generation. Refer to them in the prompt as @Image1, @Image2, etc.
                  audio_urls:
                    type: array
                    items:
                      type: string
                      format: uri
                    minItems: 1
                    maxItems: 3
                    description: 'Reference audio to guide video generation. Refer to them in the prompt as @Audio1, @Audio2, etc. Supported formats: MP3, WAV. Up to 3 files, combined duration must not exceed 15 seconds. If audio is provided, at least one reference image (image_urls) or video (video_urls) is required.'
                  video_urls:
                    type: array
                    items:
                      type: string
                      format: uri
                    minItems: 1
                    maxItems: 3
                    description: 'Reference videos to guide video generation. Refer to them in the prompt as @Video1, @Video2, etc. Supported formats: MP4, MOV. Each video must be between ~480p (640x640) and ~720p (834x1112) in resolution.'
                  aspect_ratio:
                    type: string
                    enum:
                    - '21:9'
                    - '16:9'
                    - '4:3'
                    - '1:1'
                    - '3:4'
                    - '9:16'
                    default: '16:9'
                    description: 'The aspect ratio of the generated video. Defaults to 16:9 for text-to-video and reference-to-video requests. Must be omitted for first-frame / first-last-frame generation (`image_url`): the output aspect ratio follows the input image.'
                  resolution:
                    type: string
                    enum:
                    - 480p
                    - 720p
                    - 1080p
                    - 4k
                    default: 720p
                    description: An enumeration where the short side of the video frame determines the resolution.
                  duration:
                    type: integer
                    description: The length of the output video in seconds.
                    enum:
                    - 4
                    - 5
                    - 6
                    - 7
                    - 8
                    - 9
                    - 10
                    - 11
                    - 12
                    - 13
                    - 14
                    - 15
                    default: '5'
                  generate_audio:
                    type: boolean
                    default: true
                    description: Whether to generate audio for the video.
                  seed:
                    type: integer
                    description: Varying the seed integer is a way to get different results for the same other request parameters. Using the same value for an identical request will produce similar results. If unspecified, a random number is chosen.
                  watermark:
                    type: boolean
                    default: false
                    description: Whether the video contains a watermark.
                required:
                - model
                - prompt
                title: bytedance/dreamina-seedance-2-0, bytedance/seedance-2-0, bytedance/seedance-2.0/image-to-video, bytedance/seedance-2.0/reference-to-video, bytedance/seedance-2.0/text-to-video
              - type: object
                properties:
                  model:
                    type: string
                    enum:
                    - bytedance/dreamina-seedance-2-0-fast
                    - bytedance/dreamina-seedance-2-0-mini
                    - bytedance/seedance-2-0-fast
                    - bytedance/seedance-2.0/fast/image-to-video
                    - bytedance/seedance-2.0/fast/reference-to-video
                    - bytedance/seedance-2.0/fast/text-to-video
                    - bytedance/seedance-2-0-mini
                  provider:
                    type: string
                    description: Provider routing override, pinning the request to one provider and disabling fallback. `auto` (default) uses the full Tencent Cloud VOD -> native ByteDance -> fal.ai chain. `tencent_vod` is the only provider that accepts reference images containing real people (it registers them as assets first); pinning `bytedance` or `fal` sends the images straight to a provider that rejects them with "the input image may contain real person". Case-insensitive.
                    example: auto
                  prompt:
                    type: string
                    description: The text description of the scene, subject, or action to generate in the video.
                  image_url:
                    type: string
                    format: uri
                    description: A direct link to an online image or a Base64-encoded local image that will serve as the visual base or the first frame for the video.
                  last_image_url:
                    type: string
                    format: uri
                    description: A direct link to an online image or a Base64-encoded local image to be used as the last frame of the video.
                  audio_url:
                    type: string
                    format: uri
                    description: URL, Base64-encoded string or asset ID of the audio. The duration of the audio file specified in the parameter must not exceed 15.2 seconds. If audio is provided, at least one reference image or video is required.
                  video_url:
                    type: string
                    format: uri
                    description: The public URL of the video. Only video URLs are supported.
                  image_urls:
                    type: array
                    items:
                      type: string
                      format: uri
                    minItems: 1
                    maxItems: 9
                    description: Reference images to guide video generation. Refer to them in the prompt as @Image1, @Image2, etc.
                  audio_urls:
                    type: array
                    items:
                      type: string
                      format: uri
                    minItems: 1
                    maxItems: 3
                    description: 'Reference audio to guide video generation. Refer to them in the prompt as @Audio1, @Audio2, etc. Supported formats: MP3, WAV. Up to 3 files, combined duration must not exceed 15 seconds. If audio is provided, at least one reference image (image_urls) or video (video_urls) is required.'
                  video_urls:
                    type: array
                    items:
                      type: string
                      format: uri
                    minItems: 1
                    maxItems: 3
                    description: 'Reference videos to guide video generation. Refer to them in the prompt as @Video1, @Video2, etc. Supported formats: MP4, MOV. Each video must be between ~480p (640x640) and ~720p (834x1112) in resolution.'
                  aspect_ratio:
                    type: string
                    enum:
                    - '21:9'
                    - '16:9'
                    - '4:3'
                    - '1:1'
                    - '3:4'
                    - '9:16'
                    default: '16:9'
                    description: 'The aspect ratio of the generated video. Defaults to 16:9 for text-to-video and reference-to-video requests. Must be omitted for first-frame / first-last-frame generation (`image_url`): the output aspect ratio follows the input image.'
                  resolution:
                    type: string
                    enum:
                    - 480p
                    - 720p
                    default: 720p
                    description: An enumeration where the short side of the video frame determines the resolution.
                  duration:
                    type: integer
                    description: The length of the output video in seconds.
                    enum:
                    - 4
                    - 5
                    - 6
                    - 7
                    - 8
                    - 9
                    - 10
                    - 11
                    - 12
                    - 13
                    - 14
                    - 15
                    default: '5'
                  generate_audio:
                    type: boolean
                    default: true
                    description: Whether to generate audio for the video.
                  seed:
                    type: integer
                    description: Varying the seed integer is a way to get different results for the same other request parameters. Using the same value for an identical request will produce similar results. If unspecified, a random number is chosen.
                  watermark:
                    type: boolean
                    default: false
                    description: Whether the video contains a watermark.
                required:
                - model
                - prompt
                title: bytedance/dreamina-seedance-2-0-fast, bytedance/dreamina-seedance-2-0-mini, bytedance/seedance-2-0-fast, bytedance/seedance-2.0/fast/image-to-video, bytedance/seedance-2.0/fast/reference-to-video, bytedance/seedance-2.0/fast/text-to-video, bytedance/seedance-2-0-mini
              - type: object
                properties:
                  model:
                    type: string
                    enum:
                    - bytedance/dreamina-seedance-2-5
                    - bytedance/seedance-2-5
                    - bytedance/seedance-2.5
                  provider:
                    type: string
                    description: Provider routing override, pinning the request to one provider and disabling fallback. Seedance 2.5 runs on native ByteDance only, so `auto` (default) and `bytedance` behave identically today. Unlike Seedance 2.0 there is no Tencent Cloud VOD link, so reference images containing real people are rejected upstream. Case-insensitive.
                    example: auto
                  prompt:
                    type: string
                    description: The text description of the scene, subject, or action to generate in the video.
                  image_url:
                    type: string
                    format: uri
                    description: A direct link to an online image or a Base64-encoded local image that will serve as the visual base or the first frame for the video.
                  last_image_url:
                    type: string
                    format: uri
                    description: A direct link to an online image or a Base64-encoded local image to be used as the last frame of the video.
                  audio_url:
                    type: string
                    format: uri
                    description: URL, Base64-encoded string or asset ID of the audio. The duration of the audio file specified in the parameter must not exceed 15.2 seconds. If audio is provided, at least one reference image or video is required.
                  video_url:
                    type: string
                    format: uri
                    description: The public URL of the video. Only video URLs are supported.
                  image_urls:
                    type: array
                    items:
                      type: string
                      format: uri
                    minItems: 1
                    maxItems: 9
                    description: Reference images to guide video generation. Refer to them in the prompt as @Image1, @Image2, etc.
                  audio_urls:
                    type: array
                    items:
                      type: string
                      format: uri
                    minItems: 1
                    maxItems: 3
                    description: 'Reference audio to guide video generation. Refer to them in the prompt as @Audio1, @Audio2, etc. Supported formats: MP3, WAV. Up to 3 files, combined duration must not exceed 15 seconds. If audio is provided, at least one reference image (image_urls) or video (video_urls) is required.'
                  video_urls:
                    type: array
                    items:
                      type: string
                      format: uri
                    minItems: 1
                    maxItems: 3
                    description: 'Reference videos to guide video generation. Refer to them in the prompt as @Video1, @Video2, etc. Supported formats: MP4, MOV. Each video must be between ~480p (640x640) and ~720p (834x1112) in resolution.'
                  aspect_ratio:
                    type: string
                    enum:
                    - '21:9'
                    - '16:9'
                    - '4:3'
                    - '1:1'
                    - '3:4'
                    - '9:16'
                    default: '16:9'
                    description: 'The aspect ratio of the generated video. Defaults to 16:9 for text-to-video and reference-to-video requests. Must be omitted for first-frame / first-last-frame generation (`image_url`): the output aspect ratio follows the input image.'
                  resolution:
                    type: string
                    enum:
                    - 480p
                    - 720p
                    default: 720p
                    description: An enumeration where the short side of the video frame determines the resolution.
                  duration:
                    type: integer
                    description: The length of the output video in seconds.
                    enum:
                    - 4
                    - 5
                    - 6
                    - 7
                    - 8
                    - 9
                    - 10
                    - 11
                    - 12
                    - 13
                    - 14
                    - 15
                    - 16
                    - 17
                    - 18
                    - 19
                    - 20
                    - 21
                    - 22
                    - 23
                    - 24
                    - 25
                    - 26
                    - 27
                    - 28
                    - 29
                    - 30
                    default: '5'
                  generate_audio:
                    type: boolean
                    default: true
                    description: Whether to generate audio for the video.
                  seed:
                    type: integer
                    description: Varying the seed integer is a way to get different results for the same other request parameters. Using the same value for an identical request will produce similar results. If unspecified, a random number is chosen.
                  watermark:
                    type: boolean
                    default: false
                    description: Whether the video contains a watermark.
                required:
                - model
                - prompt
                title: bytedance/dreamina-seedance-2-5, bytedance/seedance-2-5, bytedance/seedance-2.5
              - type: object
                properties:
                  model:
                    type: string
                    enum:
                    - veo-2.0-generate-001
                    - google/veo-2.0-generate-001
                    - veo2
                    - google/veo2
                  prompt:
                    type: string
                    description: The text description of the scene, subject, or action to generate in the video.
                  duration:
                    type: integer
                    description: The length of the output video in seconds.
                    enum:
                    - 5
                    - 6
                    - 7
                    - 8
                    default: '5'
                  aspect_ratio:
                    type: string
                    enum:
                    - '16:9'
                    - '9:16'
                    description: The aspect ratio of the generated video.
                  negative_prompt:
                    type: string
                    description: The description of elements to avoid in the generated video.
                  seed:
                    type: integer
                    description: Varying the seed integer is a way to get different results for the same other request parameters. Using the same value for an identical request will produce similar results. If unspecified, a random number is chosen.
                  enhance_prompt:
                    type: boolean
                    default: true
                    description: Whether to enhance the video generation.
                required:
                - model
                - prompt
                title: veo-2.0-generate-001, google/veo-2.0-generate-001, veo2, google/veo2
              - type: object
                properties:
                  model:
                    type: string
                    enum:
                    - veo-3.0-fast-generate-001
                    - google/veo-3.0-fast-generate-001
                    - veo-3.0-generate-001
                    - google/veo-3.0-generate-001
                    - google/veo3
                    - google/veo-3.0-fast
                  prompt:
                    type: string
                    description: The text description of the scene, subject, or action to generate in the video.
                  duration:
                    type: integer
                    description: The length of the output video in seconds.
                    enum:
                    - 4
                    - 6
                    - 8
                    default: '8'
                  aspect_ratio:
                    type: string
                    enum:
                    - '16:9'
                    - '9:16'
                    description: The aspect ratio of the generated video.
                  resolution:
                    type: string
                    enum:
                    - 720P
                    - 1080P
                    default: 720P
                    description: The resolution of the output video, where the number refers to the short side in pixels.
                  negative_prompt:
                    type: string
                    description: The description of elements to avoid in the generated video.
                  seed:
                    type: integer
                    description: Varying the seed integer is a way to get different results for the same other request parameters. Using the same value for an identical request will produce similar results. If unspecified, a random number is chosen.
                  enhance_prompt:
                    type: boolean
                    default: true
                    description: Whether to enhance the video generation.
                  generate_audio:
                    type: boolean
                    default: true
                    description: Whether to generate audio for the video.
                required:
                - model
                - prompt
                title: veo-3.0-fast-generate-001, google/veo-3.0-fast-generate-001, veo-3.0-generate-001, google/veo-3.0-generate-001, google/veo3, google/veo-3.0-fast
              - type: object
                properties:
                  model:
                    type: string
                    enum:
                    - veo-3.1-lite-generate-001
                    - google/veo-3.1-lite-generate-001
                    - google/veo-3-1-lite-generate-preview
                  provider:
                    type: string
                    description: Provider routing override. `google` runs native Google with no fallback; `fal` runs the fal.ai mirror; `auto` (default) uses the Google -> fal.ai fallback chain. Case-insensitive.
                    example: auto
                  prompt:
                    type: string
                    description: The text description of the scene, subject, or action to generate in the video.
                  image_url:
                    type: string
                    format: uri
                    description: A direct link to an online image or a Base64-encoded local image to be used as the first frame of the video. Should be 720p or higher resolution.
                  last_image_url:
                    type: string
                    format: uri
                    description: A direct link to an online image or a Base64-encoded local image to be used as the last frame of the video. Should be 720p or higher resolution.
                  aspect_ratio:
                    type: string
                    enum:
                    - '16:9'
                    - '9:16'
                    default: '16:9'
                    description: The aspect ratio of the generated video.
                  resolution:
                    type: string
                    enum:
                    - 720P
                    - 1080P
                    default: 720P
                    description: The resolution of the output video, where the number refers to the short side in pixels.
                  duration:
                    type: integer
                    description: The length of the output video in seconds.
                    enum:
                    - 4
                    - 6
                    - 8
                    default: '8'
                  generate_audio:
                    type: boolean
                    default: true
                    description: Whether to generate audio for the video.
                  person_generation:
                    type: string
                    enum:
                    - dont_allow
                    - allow_adult
                    default: allow_adult
                    description: Allow generation of people.
                required:
                - model
                - prompt
                title: veo-3.1-lite-generate-001, google/veo-3.1-lite-generate-001, google/veo-3-1-lite-generate-preview
              - type: object
                properties:
                  model:
                    type: string
                    enum:
                    - veo-3.1-generate-001
                    - google/veo-3.1-generate-001
                    - veo-3.1-fast-generate-001
                    - google/veo-3.1-fast-generate-001
                    - google/veo-3.1-t2v
                    - google/veo-3.1-i2v
                    - google/veo-3.1-t2v-fast
                    - google/veo-3.1-i2v-fast
                    - google/veo-3.1-first-last-image-to-video
                    - google/veo-3.1-first-last-image-to-video-fast
                    - google/veo3-1-extend-video
                    - google/veo3-1-fast-extend-video
                  provider:
                    type: string
                    description: Provider routing override. `google` runs native Google with no fallback; `fal` runs the fal.ai mirror; `auto` (default) uses the Google -> fal.ai fallback chain. Case-insensitive.
                    example: auto
                  prompt:
                    type: string
                    description: The text description of the scene, subject, or action to generate in the video.
                  image_url:
                    type: string
                    format: uri
                    description: A direct link to an online image or a Base64-encoded local image to be used as the first frame of the video. Should be 720p or higher resolution.
                  last_image_url:
                    type: string
                    format: uri
                    description: A direct link to an online image or a Base64-encoded local image to be used as the last frame of the video. Should be 720p or higher resolution.
                  video_url:
                    type: string
                    format: uri
                    description: URL of a Veo-generated MP4 to extend. Extension output is always 7 seconds; `duration` is forced to 7 when this field is set.
                  aspect_ratio:
                    type: string
                    enum:
                    - '16:9'
                    - '9:16'
                    default: '16:9'
                    description: The aspect ratio of the generated video.
                  resolution:
                    type: string
                    enum:
                    - 720P
                    - 1080P
                    - 4K
                    default: 720P
                    description: The resolution of the output video, where the number refers to the short side in pixels.
                  duration:
                    type: integer
                    description: The length of the output video in seconds. When `video_url` is set (video extension), Google always returns a fixed 7-second extension; `duration` is forced to 7 and other values are ignored.
                    enum:
                    - 4
                    - 6
                    - 8
                    default: '8'
                  generate_audio:
                    type: boolean
                    default: true
                    description: Whether to generate audio for the video.
                  person_generation:
                    type: string
                    enum:
                    - dont_allow
                    - allow_adult
                    default: allow_adult
                    description: Allow generation of people.
                required:
                - model
                - prompt
                title: veo-3.1-generate-001, google/veo-3.1-generate-001, veo-3.1-fast-generate-001, google/veo-3.1-fast-generate-001, google/veo-3.1-t2v, google/veo-3.1-i2v, google/veo-3.1-t2v-fast, google/veo-3.1-i2v-fast, google/veo-3.1-first-last-image-to-video, google/veo-3.1-first-last-image-to-video-fast, google/veo3-1-extend-video, google/veo3-1-fast-extend-video
              - type: object
                properties:
                  model:
                    type: string
                    enum:
                    - gemini-omni-flash-preview
                    - google/gemini-omni-flash-preview
                  prompt:
                    type: string
                    minLength: 1
                    description: The text description of the scene, subject, or action to generate in the video.
                  image_url:
                    type: string
                    format: uri
                    description: Image URL, gs:// URI, or base64 data URI. Used as the first frame for image_to_video unless the prompt tags it as a reference.
                  image_urls:
                    type: array
                    items:
                      type: string
                      format: uri
                    maxItems: 6
                    description: Reference image URLs, gs:// URIs, or base64 data URIs. Use prompt tags such as <IMAGE_REF_0> to bind image roles.
                  video_url:
                    type: string
                    format: uri
                    description: Video URL, gs:// URI, or base64 data URI for edit workflows.
                  audio_url:
                    type: string
                    format: uri
                    description: Audio URL, gs:// URI, or base64 data URI for multimodal prompting.
                  previous_interaction_id:
                    type: string
                    description: Gemini Interactions API id from a previous Omni generation, used for conversational edits.
                  task:
                    type: string
                    enum:
                    - text_to_video
                    - image_to_video
                    - reference_to_video
                    - edit
                    description: Gemini Omni video task. Defaults are inferred from the supplied media inputs.
                  aspect_ratio:
                    type: string
                    enum:
                    - '16:9'
                    - '9:16'
                    description: The aspect ratio of the generated video.
                  delivery:
                    type: string
                    enum:
                    - uri
                    default: uri
                    description: Gemini Omni video response delivery mode.
                required:
                - model
                - prompt
                title: gemini-omni-flash-preview, google/gemini-omni-flash-preview
              - type: object
                properties:
                  model:
                    type: string
                    enum:
                    - gemini-omni-1.1-flash
                    - google/gemini-omni-1.1-flash
                  prompt:
                    type: string
                    minLength: 1
                    description: The text description of the scene, subject, or action to generate in the video.
                  image_url:
                    type: string
                    format: uri
                    description: Image URL, gs:// URI, or base64 data URI. Used as the first frame for image_to_video unless the prompt tags it as a reference.
                  image_urls:
                    type: array
                    items:
                      type: string
                      format: uri
                    maxItems: 6
                    description: Reference image URLs, gs:// URIs, or base64 data URIs. Use prompt tags such as <IMAGE_REF_0> to bind image roles. Pass exactly two images with task=image_to_video for first/last frame interpolation.
                  video_url:
                    type: string
                    format: uri
                    description: Video URL, gs:// URI, or base64 data URI for edit and extend workflows.
                  audio_url:
                    type: string
                    format: uri
                    description: Audio URL, gs:// URI, or base64 data URI for multimodal prompting.
                  previous_interaction_id:
                    type: string
                    description: Gemini Interactions API id from a previous Omni generation, used for conversational edits.
                  task:
                    type: string
                    enum:
                    - text_to_video
                    - image_to_video
                    - reference_to_video
                    - edit
                    - extend
                    description: Gemini Omni video task. Defaults are inferred from the supplied media inputs.
                  aspect_ratio:
                    type: string
                    enum:
                    - '16:9'
                    - '9:16'
                    description: The aspect ratio of the generated video.
                  resolution:
                    type: string
                    enum:
                    - 360p
                    - 720p
                    - 1080p
                    - 4k
                    description: The resolution of the output video, where the number refers to the short side in pixels.
                  duration:
                    type: integer
                    description: The length of the output video in seconds.
                    enum:
                    - 3
                    - 4
                    - 5
                    - 6
                    - 7
                    - 8
                    - 9
                    - 10
                    default: '8'
                  delivery:
                    type: string
                    enum:
                    - uri
                    default: uri
                    description: Gemini Omni video response delivery mode.
                required:
                - model
                - prompt
                title: gemini-omni-1.1-flash, google/gemini-omni-1.1-flash
              - type: object
                properties:
                  model:
                    type: string
                    enum:
                    - google/veo-3.1-reference-to-video
                    - veo3.1/reference-to-video
                  prompt:
                    type: string
                    description: The text description of the scene, subject, or action to generate in the video.
                  image_urls:
                    type: array
                    items:
                      type: string
                      format: uri
                    minItems: 1
                    maxItems: 3
                    description: URL of the input image to animate. Should be 720p or higher resolution.
                  duration:
                    type: integer
                    description: The length of the output video in seconds.
                    enum:
                    - 8
                  provider:
                    type: string
                    description: Provider routing override. `google` runs native Google with no fallback; `fal` runs the fal.ai mirror; `auto` (default) uses the Google -> fal.ai fallback chain. Case-insensitive.
                    example: auto
                  resolution:
                    type: string
                    enum:
                    - 720p
                    - 1080p
                    default: 1080p
                    description: The resolution of the output video, where the number refers to the short side in pixels.
                  generate_audio:
                    type: boolean
                    default: true
                    description: Whether to generate audio for the video.
                required:
                - model
                - prompt
                - image_urls
                title: google/veo-3.1-reference-to-video, veo3.1/reference-to-video
              - type: object
                properties:
                  model:
                    type: string
                    enum:
                    - veo2/image-to-video
                    - google/veo2-image-to-video
                  prompt:
                    type: string
                    description: The text description of the scene, subject, or action to generate in the video.
                  image_url:
                    type: string
                    format: uri
                    description: A direct link to an online image or a Base64-encoded local image that will serve as the visual base or the first frame for the video.
                  tail_image_url:
                    type: string
                    format: uri
                    description: A direct link to an online image or a Base64-encoded local image to be used as the last frame of the video.
                  duration:
                    type: integer
                    description: The length of the output video in seconds.
                    enum:
                    - 5
                    - 6
                    - 7
                    - 8
                    default: '5'
                  aspect_ratio:
                    type: string
                    enum:
                    - '16:9'
                    - '9:16'
                    description: The aspect ratio of the generated video.
                  negative_prompt:
                    type: string
                    description: The description of elements to avoid in the generated video.
                  seed:
                    type: integer
                    description: Varying the seed integer is a way to get different results for the same other request parameters. Using the same value for an identical request will produce similar results. If unspecified, a random number is chosen.
                  enhance_prompt:
                    type: boolean
                    default: true
                    description: Whether to enhance the video generation.
                required:
                - model
                - prompt
                - image_url
                title: veo2/image-to-video, google/veo2-image-to-video
              - type: object
                properties:
                  model:
                    type: string
                    enum:
                    - google/veo-3.0-i2v
                    - google/veo-3.0-i2v-fast
                  prompt:
                    type: string
                    description: The text description of the scene, subject, or action to generate in the video.
                  image_url:
                    type: string
                    format: uri
                    description: A direct link to an online image or a Base64-encoded local image that will serve as the visual base or the first frame for the video.
                  duration:
                    type: integer
                    description: The length of the output video in seconds.
                    enum:
                    - 4
                    - 6
                    - 8
                    default: '8'
                  aspect_ratio:
                    type: string
                    enum:
                    - '16:9'
                    - '9:16'
                    description: The aspect ratio of the generated video.
                  resolution:
                    type: string
                    enum:
                    - 720P
                    - 1080P
                    default: 720P
                    description: The resolution of the output video, where the number refers to the short side in pixels.
                  negative_prompt:
                    type: string
                    description: The description of elements to avoid in the generated video.
                  seed:
                    type: integer
                    description: Varying the seed integer is a way to get different results for the same other request parameters. Using the same value for an identical request will produce similar results. If unspecified, a random number is chosen.
                  enhance_prompt:
                    type: boolean
                    default: true
                    description: Whether to enhance the video generation.
                  generate_audio:
                    type: boolean
                    default: true
                    description: Whether to generate audio for the video.
                required:
                - model
                - prompt
                - image_url
                title: google/veo-3.0-i2v, google/veo-3.0-i2v-fast
              - type: object
                properties:
                  model:
                    type: string
                    enum:
                    - wan2.1-t2v-plus
                    - alibaba/wan2.1-t2v-plus
                  prompt:
                    type: string
                    description: The text description of the scene, subject, or action to generate in the video.
                  resolution:
                    type: string
                    enum:
                    - 720P
                    default: 720P
                    description: An enumeration where the short side of the video frame determines the resolution.
                  aspect_ratio:
                    type: string
                    enum:
                    - '16:9'
                    - '9:16'
                    - '1:1'
                    - '4:3'
                    - '3:4'
                    default: '16:9'
                    description: The aspect ratio of the generated video.
                  negative_prompt:
                    type: string
                    description: The description of elements to avoid in the generated video.
                  watermark:
                    type: boolean
                    default: false
                    description: Whether the video contains a watermark.
                  seed:
                    type: integer
                    description: Varying the seed integer is a way to get different results for the same other request parameters. Using the same value for an identical request will produce similar results. If unspecified, a random number is chosen.
                  enhance_prompt:
                    type: boolean
                    default: true
                    description: Whether to enable prompt expansion.
                required:
                - model
                - prompt
                title: wan2.1-t2v-plus, alibaba/wan2.1-t2v-plus
              - type: object
                properties:
                  model:
                    type: string
                    enum:
                    - wan2.1-t2v-turbo
                    - alibaba/wan2.1-t2v-turbo
                  prompt:
                    type: string
                    description: The text description of the scene, subject, or action to generate in the video.
                  resolution:
                    type: string
                    enum:
                    - 480P
                    - 720P
                    default: 720P
                    description: An enumeration where the short side of the video frame determines the resolution.
                  aspect_ratio:
                    type: string
                    enum:
                    - '16:9'
                    - '9:16'
                    - '1:1'
                    - '4:3'
                    - '3:4'
                    default: '16:9'
                    description: The aspect ratio of the generated video.
                  negative_prompt:
                    type: string
                    description: The description of elements to avoid in the generated video.
                  watermark:
                    type: boolean
                    default: false
                    description: Whether the video contains a watermark.
                  seed:
                    type: integer
                    description: Varying the seed integer is a way to get different results for the same other request parameters. Using the same value for an identical request will produce similar results. If unspecified, a random number is chosen.
                  enhance_prompt:
                    type: boolean
                    default: true
                    description: Whether to enable prompt expansion.
                required:
                - model
                - prompt
                title: wan2.1-t2v-turbo, alibaba/wan2.1-t2v-turbo
              - type: object
                properties:
                  model:
                    type: string
                    enum:
                    - wan2.2-i2v-plus
                    - alibaba/wan2.2-i2v-plus
                  prompt:
                    type: string
                    description: The text description of the scene, subject, or action to generate in the video.
                  image_url:
                    type: string
                    format: uri
                    description: A direct link to an online image or a Base64-encoded local image that will serve as the visual base or the first frame for the video.
                  resolution:
                    type: string
                    enum:
                    - 480P
                    - 1080P
                    default: 1080P
                    description: An enumeration where the short side of the video frame determines the resolution.
                  negative_prompt:
                    type: string
                    description: The description of elements to avoid in the generated video.
                  watermark:
                    type: boolean
                    default: false
                    description: Whether the video contains a watermark.
                  seed:
                    type: integer
                    description: Varying the seed integer is a way to get different results for the same other request parameters. Using the same value for an identical request will produce similar results. If unspecified, a random number is chosen.
                  enhance_prompt:
                    type: boolean
                    default: true
                    description: Whether to enable prompt expansion.
                required:
                - model
                - prompt
                - image_url
                title: wan2.2-i2v-plus, alibaba/wan2.2-i2v-plus
              - type: object
                properties:
                  model:
                    type: string
                    enum:
                    - wan2.2-t2v-plus
                    - alibaba/wan2.2-t2v-plus
                  prompt:
                    type: string
                    description: The text description of the scene, subject, or action to generate in the video.
                  resolution:
                    type: string
                    enum:
                    - 480P
                    - 1080P
                    default: 1080P
                    description: An enumeration where the short side of the video frame determines the resolution.
                  aspect_ratio:
                    type: string
                    enum:
                    - '16:9'
                    - '9:16'
                    - '1:1'
                    - '4:3'
                    - '3:4'
                    default: '16:9'
                    description: The aspect ratio of the generated video.
                  negative_prompt:
                    type: string
                    description: The description of elements to avoid in the generated video.
                  watermark:
                    type: boolean
                    default: false
                    description: Whether the video contains a watermark.
                  seed:
                    type: integer
                    description: Varying the seed integer is a way to get different results for the same other request parameters. Using the same value for an identical request will produce similar results. If unspecified, a random number is chosen.
                  enhance_prompt:
                    type: boolean
                    default: true
                    description: Whether to enable prompt expansion.
                required:
                - model
                - prompt
                title: wan2.2-t2v-plus, alibaba/wan2.2-t2v-plus
              - type: object
                properties:
                  model:
                    type: string
                    enum:
                    - wan2.5-t2v-preview
                    - alibaba/wan2.5-t2v-preview
                  prompt:
                    type: string
                    description: The text description of the scene, subject, or action to generate in the video.
                  resolution:
                    type: string
                    enum:
                    - 480p
                    - 720p
                    - 1080p
                    default: 1080p
                    description: An enumeration where the short side of the video frame determines the resolution.
                  aspect_ratio:
                    type: string
                    enum:
                    - '16:9'
                    - '9:16'
                    - '1:1'
                    default: '16:9'
                    description: The aspect ratio of the generated video.
                  duration:
                    type: integer
                    description: The length of the output video in seconds.
                    enum:
                    - 5
                    - 10
                    default: '10'
                  negative_prompt:
                    type: string
                    description: The description of elements to avoid in the generated video.
                  seed:
                    type: integer
                    description: Varying the seed integer is a way to get different results for the same other request parameters. Using the same value for an identical request will produce similar results. If unspecified, a random number is chosen.
                  enhance_prompt:
                    type: boolean
                    default: true
                    description: Whether to enable prompt expansion.
                required:
                - model
                - prompt
                title: wan2.5-t2v-preview, alibaba/wan2.5-t2v-preview
              - type: object
                properties:
                  model:
                    type: string
                    enum:
                    - wan2.5-i2v-preview
                    - alibaba/wan2.5-i2v-preview
                  prompt:
                    type: string
                    description: The text description of the scene, subject, or action to generate in the video.
                  image_url:
                    type: string
                    format: uri
                    description: A direct link to an online image or a Base64-encoded local image that will serve as the visual base or the first frame for the video.
                  resolution:
                    type: string
                    enum:
                    - 480p
                    - 720p
                    - 1080p
                    default: 1080p
                    description: An enumeration where the short side of the video frame determines the resolution.
                  aspect_ratio:
                    type: string
                    enum:
                    - '16:9'
                    - '9:16'
                    - '1:1'
                    default: '16:9'
                    description: The aspect ratio of the generated video.
                  duration:
                    type: integer
                    description: The length of the output video in seconds.
                    enum:
                    - 5
                    - 10
                    default: '10'
                  negative_prompt:
                    type: string
                    description: The description of elements to avoid in the generated video.
                  seed:
                    type: integer
                    description: Varying the seed integer is a way to get different results for the same other request parameters. Using the same value for an identical request will produce similar results. If unspecified, a random number is chosen.
                  enhance_prompt:
                    type: boolean
                    default: true
                    description: Whether to enable prompt expansion.
                required:
                - model
                - prompt
                - image_url
                title: wan2.5-i2v-preview, alibaba/wan2.5-i2v-preview
              - type: object
                properties:
                  model:
                    type: string
                    enum:
                    - wan2.6-t2v
                    - alibaba/wan2.6-t2v
                    - wan2.7-t2v
                    - alibaba/wan2.7-t2v
                    - alibaba/wan-2-6-t2v
                    - alibaba/wan-2-7-t2v
                  prompt:
                    type: string
                    description: The text description of the scene, subject, or action to generate in the video.
                  audio_url:
                    type: string
                    format: uri
                    description: The URL of the audio file. The model will use this audio to generate the video.
                  aspect_ratio:
                    type: string
                    enum:
                    - '16:9'
                    - '9:16'
                    - '1:1'
                    - '4:3'
                    - '3:4'
                    default: '16:9'
                    description: The aspect ratio of the generated video.
                  resolution:
                    type: string
                    enum:
                    - 720p
                    - 1080p
                    default: 1080p
                    description: An enumeration where the short side of the video frame determines the resolution.
                  duration:
                    type: integer
                    description: The length of the output video in seconds.
                    enum:
                    - 5
                    - 10
                    - 15
                    default: '10'
                  negative_prompt:
                    type: string
                    description: The description of elements to avoid in the generated video.
                  shot_type:
                    type: string
                    enum:
                    - single
                    - multi
                    default: single
                    description: 'Specifies the shot type of the generated video, that is, whether the video consists of a single continuous shot or multiple switched shots.

                      This parameter takes effect only when "prompt_extend" is set to ''true'':

                      - single: (default) Outputs a single-shot video.

                      - multi: Outputs a multi-shot video.'
                  generate_audio:
                    type: boolean
                    default: true
                    description: 'Specifies whether to automatically add audio to the generated video.

                      This parameter takes effect only when ''audio_url'' is not provided.'
                  seed:
                    type: integer
                    description: Varying the seed integer is a way to get different results for the same other request parameters. Using the same value for an identical request will produce similar results. If unspecified, a random number is chosen.
                  enhance_prompt:
                    type: boolean
                    default: true
                    description: Whether to enable prompt expansion.
                required:
                - model
                - prompt
                title: wan2.6-t2v, alibaba/wan2.6-t2v, wan2.7-t2v, alibaba/wan2.7-t2v, alibaba/wan-2-6-t2v, alibaba/wan-2-7-t2v
              - type: object
                properties:
                  model:
                    type: string
                    enum:
                    - wan2.6-i2v
                    - alibaba/wan2.6-i2v
                    - alibaba/wan-2-6-i2v
                  prompt:
                    type: string
                    description: The text description of the scene, subject, or action to generate in the video.
                  image_url:
                    type: string
                    format: uri
                    description: A direct link to an online image or a Base64-encoded local image that will serve as the visual base or the first frame for the video.
                  audio_url:
                    type: string
                    format: uri
                    description: The URL of the audio file. The model will use this audio to generate the video.
                  resolution:
                    type: string
                    enum:
                    - 720p
                    - 1080p
                    default: 1080p
                    description: An enumeration where the short side of the video frame determines the resolution.
                  duration:
                    type: integer
                    description: The length of the output video in seconds.
                    enum:
                    - 5
                    - 10
                    - 15
                    default: '10'
                  negative_prompt:
                    type: string
                    description: The description of elements to avoid in the generated video.
                  shot_type:
                    type: string
                    enum:
                    - single
                    - multi
                    default: single
                    description: 'Specifies the shot type of the generated video, that is, whether the video consists of a single continuous shot or multiple switched shots.

                      This parameter takes effect only when "prompt_extend" is set to ''true'':

                      - single: (default) Outputs a single-shot video.

                      - multi: Outputs a multi-shot video.'
                  generate_audio:
                    type: boolean
                    default: true
                    description: 'Specifies whether to automatically add audio to the generated video.

                      This parameter takes effect only when ''audio_url'' is not provided.'
                  seed:
                    type: integer
                    description: Varying the seed integer is a way to get different results for the same other request parameters. Using the same value for an identical request will produce similar results. If unspecified, a random number is chosen.
                  enhance_prompt:
                    type: boolean
                    default: true
                    description: Whether to enable prompt expansion.
                required:
                - model
                - prompt
                - image_url
                title: wan2.6-i2v, alibaba/wan2.6-i2v, alibaba/wan-2-6-i2v
              - type: object
                properties:
                  model:
                    type: string
                    enum:
                    - wan2.6-i2v-flash
                    - alibaba/wan2.6-i2v-flash
                    - alibaba/wan-2-6-image-to-video-flash
                  prompt:
                    type: string
                    description: The text description of the scene, subject, or action to generate in the video.
                  image_url:
                    type: string
                    format: uri
                    description: A direct link to an online image or a Base64-encoded local image that will serve as the visual base or the first frame for the video.
                  audio_url:
                    type: string
                    format: uri
                    description: The URL of the audio file. The model will use this audio to generate the video.
                  resolution:
                    type: string
                    enum:
                    - 720p
                    - 1080p
                    default: 720p
                    description: An enumeration where the short side of the video frame determines the resolution.
                  duration:
                    type: integer
                    description: Duration of the generated video in seconds (up to 15 seconds for Flash model).
                    enum:
                    - 5
                    - 10
                    - 15
                    default: '10'
                  negative_prompt:
                    type: string
                    description: The description of elements to avoid in the generated video.
                  shot_type:
                    type: string
                    enum:
                    - single
                    - multi
                    default: single
                    description: 'Specifies the shot type of the generated video, that is, whether the video consists of a single continuous shot or multiple switched shots.

                      This parameter takes effect only when "prompt_extend" is set to ''true'':

                      - single: (default) Outputs a single-shot video.

                      - multi: Outputs a multi-shot video.'
                  generate_audio:
                    type: boolean
                    default: true
                    description: 'Specifies whether to automatically add audio to the generated video.

                      This parameter takes effect only when ''audio_url'' is not provided.'
                  seed:
                    type: integer
                    description: Varying the seed integer is a way to get different results for the same other request parameters. Using the same value for an identical request will produce similar results. If unspecified, a random number is chosen.
                  enhance_prompt:
                    type: boolean
                    default: true
                    description: Whether to enable prompt expansion.
                required:
                - model
                - prompt
                - image_url
                title: wan2.6-i2v-flash, alibaba/wan2.6-i2v-flash, alibaba/wan-2-6-image-to-video-flash
              - type: object
                properties:
                  model:
                    type: string
                    enum:
                    - wan2.6-r2v
                    - alibaba/wan2.6-r2v
                    - alibaba/wan-2-6-r2v
                  prompt:
                    type: string
                    description: The text description of the scene, subject, or action to generate in the video.
                  video_urls:
                    type: array
                    items:
                      type: string
                      format: uri
                    minItems: 1
                    maxItems: 3
                    description: 'An array of URLs for the uploaded reference video files. This parameter is used to extract the character''s appearance and voice (if any) to generate a video that matches the reference features.

                      Each reference video must contain only one character. For example, character1 is a little girl and character2 is an alarm clock.'
                  aspect_ratio:
                    type: string
                    enum:
                    - '16:9'
                    - '9:16'
                    - '1:1'
                    - '4:3'
                    - '3:4'
                    default: '16:9'
                    description: The aspect ratio of the generated video.
                  resolution:
                    type: string
                    enum:
                    - 720p
                    - 1080p
                    default: 1080p
                    description: An enumeration where the short side of the video frame determines the resolution.
                  duration:
                    type: integer
                    description: The length of the output video in seconds.
                    enum:
                    - 5
                    - 10
                    - 15
                    default: '10'
                  negative_prompt:
                    type: string
                    description: The description of elements to avoid in the generated video.
                  shot_type:
                    type: string
                    enum:
                    - single
                    - multi
                    default: single
                    description: 'Specifies the shot type of the generated video, that is, whether the video consists of a single continuous shot or multiple switched shots.

                      This parameter takes effect only when "prompt_extend" is set to ''true'':

                      - single: (default) Outputs a single-shot video.

                      - multi: Outputs a multi-shot video.'
                  seed:
                    type: integer
                    description: Varying the seed integer is a way to get different results for the same other request parameters. Using the same value for an identical request will produce similar results. If unspecified, a random number is chosen.
                  enhance_prompt:
                    type: boolean
                    default: true
                    description: Whether to enable prompt expansion.
                required:
                - model
                - prompt
                - video_urls
                title: wan2.6-r2v, alibaba/wan2.6-r2v, alibaba/wan-2-6-r2v
              - type: object
                properties:
                  model:
                    type: string
                    enum:
                    - wan2.7-i2v
                    - alibaba/wan2.7-i2v
                    - alibaba/wan-2-7-i2v
                  prompt:
                    type: string
                    description: The text description of the scene, subject, or action to generate in the video.
                  image_url:
                    type: string
                    format: uri
                    description: A direct link to an online image or a Base64-encoded local image that will serve as the visual base or the first frame for the video.
                  audio_url:
                    type: string
                    format: uri
                    description: The URL of the audio file. The model will use this audio to generate the video.
                  resolution:
                    type: string
                    enum:
                    - 720p
                    - 1080p
                    default: 1080p
                    description: An enumeration where the short side of the video frame determines the resolution.
                  duration:
                    type: integer
                    description: The length of the output video in seconds.
                    enum:
                    - 5
                    - 10
                    - 15
                    default: '10'
                  enable_prompt_expansion:
                    type: boolean
                    default: true
                    description: Whether to enable prompt expansion.
                  enhance_prompt:
                    type: boolean
                    default: true
                    description: Whether to enable prompt expansion.
                  negative_prompt:
                    type: string
                    maxLength: 500
                    description: The description of elements to avoid in the generated video.
                  seed:
                    type: integer
                    description: Varying the seed integer is a way to get different results for the same other request parameters. Using the same value for an identical request will produce similar results. If unspecified, a random number is chosen.
                  watermark:
                    type: boolean
                    default: false
                    description: Whether the video contains a watermark.
                required:
                - model
                - prompt
                - image_url
                title: wan2.7-i2v, alibaba/wan2.7-i2v, alibaba/wan-2-7-i2v
              - type: object
                properties:
                  model:
                    type: string
                    enum:
                    - wan2.7-r2v
                    - alibaba/wan2.7-r2v
                    - alibaba/wan-2-7-r2v
                  prompt:
                    type: string
                    description: The text description of the scene, subject, or action to generate in the video.
                  first_frame_image:
                    type: string
                    format: uri
                    description: Optional first frame image URL.
                  image_urls:
                    type: array
                    items:
                      type: string
                      format: uri
                    maxItems: 5
                    description: Reference image URLs.
                  video_urls:
                    type: array
                    items:
                      type: string
                      format: uri
                    maxItems: 5
                    description: Reference video URLs.
                  aspect_ratio:
                    type: string
                    enum:
                    - '16:9'
                    - '9:16'
                    - '1:1'
                    - '4:3'
                    - '3:4'
                    default: '16:9'
                    description: The aspect ratio of the generated video.
                  resolution:
                    type: string
                    enum:
                    - 720p
                    - 1080p
                    default: 1080p
                    description: An enumeration where the short side of the video frame determines the resolution.
                  duration:
                    type: integer
                    description: The length of the output video in seconds.
                    enum:
                    - 5
                    - 10
                    - 15
                    default: '10'
                  enhance_prompt:
                    type: boolean
                    default: true
                    description: Whether to enable prompt expansion.
                  negative_prompt:
                    type: string
                    maxLength: 500
                    description: The description of elements to avoid in the generated video.
                  seed:
                    type: integer
                    description: Varying the seed integer is a way to get different results for the same other request parameters. Using the same value for an identical request will produce similar results. If unspecified, a random number is chosen.
                  watermark:
                    type: boolean
                    default: false
                    description: Whether the video contains a watermark.
                required:
                - model
                - prompt
                title: wan2.7-r2v, alibaba/wan2.7-r2v, alibaba/wan-2-7-r2v
              - type: object
                properties:
                  model:
                    type: string
                    enum:
                    - wan3.0-video
                    - alibaba/wan3.0-video
                    - alibaba/wan-3-0-video
                  prompt:
                    type: string
                    maxLength: 20000
                    description: The text description of the scene, subject, or action to generate in the video.
                  image_url:
                    type: string
                    format: uri
                    description: The URL of the image strictly used as the first frame of the video. Cannot be used together with reference media, file_url, or link_url.
                  last_image_url:
                    type: string
                    format: uri
                    description: The URL of the image strictly used as the last frame of the video. Requires image_url.
                  reference_image_urls:
                    type: array
                    items:
                      type: string
                      format: uri
                    maxItems: 10
                    description: Array of image URLs for multi-image-to-video generation.
                  video_urls:
                    type: array
                    items:
                      type: string
                      format: uri
                    maxItems: 5
                    description: Reference video URLs. Up to 5 clips with a total duration of no more than 15 seconds.
                  audio_urls:
                    type: array
                    items:
                      type: string
                      format: uri
                    maxItems: 5
                    description: Reference audio URLs. Up to 5 clips with a total duration of no more than 15 seconds.
                  file_url:
                    type: string
                    format: uri
                    description: The URL of a document (docx, doc, xlsx, xls, pptx, ppt, pdf, txt, key, pages, numbers, md) the model uses to generate the video. Cannot be used together with link_url.
                  link_url:
                    type: string
                    format: uri
                    description: The URL of a publicly accessible web page the model uses to generate the video. Cannot be used together with file_url.
                  aspect_ratio:
                    type: string
                    enum:
                    - adaptive
                    - '16:9'
                    - '4:3'
                    - '1:1'
                    - '3:4'
                    - '9:16'
                    default: adaptive
                    description: The aspect ratio of the generated video.
                  resolution:
                    type: string
                    enum:
                    - 480p
                    - 720p
                    - 1080p
                    default: 1080p
                    description: An enumeration where the short side of the video frame determines the resolution.
                  duration:
                    type: integer
                    description: The length of the output video in seconds, from 2 to 30. When reference videos are provided, the total input video duration plus the output video duration must not exceed 30 seconds.
                    default: 5
                  generate_audio:
                    type: boolean
                    default: true
                    description: Specifies whether the output video contains audio.
                  seed:
                    type: integer
                    description: Varying the seed integer is a way to get different results for the same other request parameters. Using the same value for an identical request will produce similar results. If unspecified, a random number is chosen.
                  watermark:
                    type: boolean
                    default: false
                    description: Whether the video contains a watermark.
                required:
                - model
                - prompt
                title: wan3.0-video, alibaba/wan3.0-video, alibaba/wan-3-0-video
              - type: object
                properties:
                  model:
                    type: string
                    enum:
                    - custom:happyhorse-1.0
                    - alibaba/custom:happyhorse-1.0
                    - happyhorse-1.0-t2v
                    - alibaba/happyhorse-1.0-t2v
                    - happyhorse-1.0-i2v
                    - alibaba/happyhorse-1.0-i2v
                    - happyhorse-1.0-r2v
                    - alibaba/happyhorse-1.0-r2v
                    - happyhorse-1.0-video-edit
                    - alibaba/happyhorse-1.0-video-edit
                    - alibaba/happyhorse-1-0
                  prompt:
                    type: string
                    description: The text description of the scene, subject, or action to generate in the video.
                  image_url:
                    type: string
                    format: uri
                    description: A direct link to an online image or a Base64-encoded local image that will serve as the visual base or the first frame for the video.
                  reference_image_urls:
                    type: array
                    items:
                      type: string
                      format: uri
                    maxItems: 9
                    description: Array of image URLs for multi-image-to-video generation.
                  video_url:
                    type: string
                    format: uri
                    description: A HTTPS URL pointing to a video or a data URI containing a video. This video will be used as a reference during generation.
                  aspect_ratio:
                    type: string
                    enum:
                    - '16:9'
                    - '9:16'
                    - '1:1'
                    - '4:3'
                    - '3:4'
                    default: '16:9'
                    description: The aspect ratio of the generated video.
                  resolution:
                    type: string
                    enum:
                    - 720p
                    - 1080p
                    default: 1080p
                    description: An enumeration where the short side of the video frame determines the resolution.
                  duration:
                    type: integer
                    description: "The length of the output video in seconds. \nThe option does not work if a video reference is provided. \n- If the input video is 15 seconds or shorter, the output video has the same duration as the input.\n- If the input video is longer than 15 seconds, the system automatically uses only the first 15 seconds, so the maximum output duration is 15 seconds."
                    enum:
                    - 3
                    - 4
                    - 5
                    - 6
                    - 7
                    - 8
                    - 9
                    - 10
                    - 11
                    - 12
                    - 13
                    - 14
                    - 15
                    default: '10'
                  audio_setting:
                    type: string
                    enum:
                    - auto
                    - origin
                    default: auto
                    description: 'Audio control. Works only if a video reference is provided.

                      - auto (default): Determined by the model.

                      - origin: Preserves the original audio from the input video.'
                  seed:
                    type: integer
                    description: Varying the seed integer is a way to get different results for the same other request parameters. Using the same value for an identical request will produce similar results. If unspecified, a random number is chosen.
                  watermark:
                    type: boolean
                    default: false
                    description: Whether the video contains a watermark.
                required:
                - model
                - prompt
                title: custom:happyhorse-1.0, alibaba/custom:happyhorse-1.0, happyhorse-1.0-t2v, alibaba/happyhorse-1.0-t2v, happyhorse-1.0-i2v, alibaba/happyhorse-1.0-i2v, happyhorse-1.0-r2v, alibaba/happyhorse-1.0-r2v, happyhorse-1.0-video-edit, alibaba/happyhorse-1.0-video-edit, alibaba/happyhorse-1-0
              - type: object
                properties:
                  model:
                    type: string
                    enum:
                    - happyhorse-1.1-t2v
                    - alibaba/happyhorse-1.1-t2v
                    - alibaba/happyhorse-1-1
                    - alibaba/happyhorse-1-1-t2v
                  prompt:
                    type: string
                    description: The text description of the scene, subject, or action to generate in the video.
                  aspect_ratio:
                    type: string
                    enum:
                    - '16:9'
                    - '9:16'
                    - '1:1'
                    - '4:3'
                    - '3:4'
                    default: '16:9'
                    description: The aspect ratio of the generated video.
                  resolution:
                    type: string
                    enum:
                    - 720p
                    - 1080p
                    default: 1080p
                    description: An enumeration where the short side of the video frame determines the resolution.
                  duration:
                    type: integer
                    description: The length of the output video in seconds.
                    enum:
                    - 3
                    - 4
                    - 5
                    - 6
                    - 7
                    - 8
                    - 9
                    - 10
                    - 11
                    - 12
                    - 13
                    - 14
                    - 15
                    default: '10'
                  seed:
                    type: integer
                    description: Varying the seed integer is a way to get different results for the same other request parameters. Using the same value for an identical request will produce similar results. If unspecified, a random number is chosen.
                  watermark:
                    type: boolean
                    default: false
                    description: Whether the video contains a watermark.
                required:
                - model
                - prompt
                title: happyhorse-1.1-t2v, alibaba/happyhorse-1.1-t2v, alibaba/happyhorse-1-1, alibaba/happyhorse-1-1-t2v
              - type: object
                properties:
                  model:
                    type: string
                    enum:
                    - happyhorse-1.1-i2v
                    - alibaba/happyhorse-1.1-i2v
                    - alibaba/happyhorse-1-1-i2v
                  prompt:
                    type: string
                    description: The text description of the scene, subject, or action to generate in the video.
                  image_url:
                    type: string
                    format: uri
                    description: A direct link to an online image or a Base64-encoded local image that will serve as the visual base or the first frame for the video.
                  aspect_ratio:
                    type: string
                    enum:
                    - '16:9'
                    - '9:16'
                    - '1:1'
                    - '4:3'
                    - '3:4'
                    default: '16:9'
                    description: The aspect ratio of the generated video.
                  resolution:
                    type: string
                    enum:
                    - 720p
                    - 1080p
                    default: 1080p
                    description: An enumeration where the short side of the video frame determines the resolution.
                  duration:
                    type: integer
                    description: The length of the output video in seconds.
                    enum:
                    - 3
                    - 4
                    - 5
                    - 6
                    - 7
                    - 8
                    - 9
                    - 10
                    - 11
                    - 12
                    - 13
                    - 14
                    - 15
                    default: '10'
                  seed:
                    type: integer
                    description: Varying the seed integer is a way to get different results for the same other request parameters. Using the same value for an identical request will produce similar results. If unspecified, a random number is chosen.
                  watermark:
                    type: boolean
                    default: false
                    description: Whether the video contains a watermark.
                required:
                - model
                - prompt
                - image_url
                title: happyhorse-1.1-i2v, alibaba/happyhorse-1.1-i2v, alibaba/happyhorse-1-1-i2v
              - type: object
                properties:
                  model:
                    type: string
                    enum:
                    - happyhorse-1.1-r2v
                    - alibaba/happyhorse-1.1-r2v
                    - alibaba/happyhorse-1-1-r2v
                  prompt:
                    type: string
                    description: The text description of the scene, subject, or action to generate in the video.
                  reference_image_urls:
                    type: array
                    items:
                      type: string
                      format: uri
                    minItems: 1
                    maxItems: 9
                    description: Array of image URLs for multi-image-to-video generation.
                  aspect_ratio:
                    type: string
                    enum:
                    - '16:9'
                    - '9:16'
                    - '1:1'
                    - '4:3'
                    - '3:4'
                    default: '16:9'
[...]
